.body-center3{
    position: relative;
    left: 20%;
    top: 0;
    bottom: 0;
    width: 75%;

    margin-left: 3vw;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 1.5vw 1vw rgb(210, 210, 210);
}

/* SEARCH */
.body-left3__searchBlock{
    display: flex;
    justify-content: space-evenly;

    font-size: var(--myfontsize);
}

.body-left3-Acontent__sidebar__element__form{
    width: 100%;

    display: flex;

    font-size: 0.7em;

    padding: 1% 2%;

    background-color: rgb(240, 240, 240);
    border-radius: 1vw;
}

.body-left3-Acontent__sidebar__element__form i{
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.6em;
}

.body-left3-Acontent__sidebar__element__form input{
    border: 0;
    outline: 0;

    width: 85%;
    font-size: 0.6em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}

/* LEFT CONTENT*/
.body-left3 .Acontent__sidebar__element__content{
    overflow: hidden;
    height: 0;
}

/* LEFT ACTION BUTTON */
.body-left3__sidebarBtn{
    font-size: 0.45em;
    text-align: center;
    border-radius: 0 0 0.5vw 0.5vw;

    margin-top: 2%;

    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.body-left3__sidebarBtn:hover{
    cursor: pointer;
    
    background-color: rgb(37, 37, 37);
    color: white;
    transform: scale(1.03);
}

.body-left3__sidebarBtn:active{
    transform: scale(0.8);
}

.body-left3__sidebarBtn i{
    transform: rotate(180deg);
}

/* BODY CENTER HEADER */
    #body-center3__header{
        position: relative;
        height: 20vw;

        display: flex;
        flex-direction: row;

        margin-top: 2%;

        background-image: linear-gradient(45deg, rgb(255, 222, 189), rgb(225, 179, 255), rgb(255, 135, 241));
    }

    /* LEFT */
    /* RIGHT */
        #body-center3__header__rightSide{
            position: relative;
            width: 60%;
            height: 100%;

            font-size: var(--myfontsize);

            padding: 1% 1%;

            background-color: white;
            border-radius: 0.5vw;
            box-shadow: 0vw 0vw 0.5vw 0vw rgb(158, 158, 158);
        } 

        .body-center3__header__rightSide__element{
            position: relative;
            height: 100%;

            display: flex;
            flex-direction: column;

            overflow: hidden;

            border-radius: 0.5vw;

            font-size: 0.5em;
            padding: 0;

            border: 0.15vw solid gray;
        }

        .body-center3__header__rightSide__element__title{
            height: max-content;

            padding: 0.5% 0;

            text-align: center;

            border-bottom: 0.2vw solid gray;
            background-color: rgba(225, 255, 195, 0.7);
        }

        .body-center3__header__rightSide__element__list{
            position: relative;
            height: max-content;

            list-style: none;
        }

        .body-center3__header__rightSide__element__list__element{
            background-color: rgba(195, 244, 255, 0.4);
            padding: 1% 2%;

            display: flex;
            align-items: center;

            margin-top: 1%;

            font-size: 0.8em;

            transition: transform 0.3s, background-color 0.3s, color 0.3s;
        }

        .body-center3__header__rightSide__element__list__element__title{
            width: max-content;
            text-wrap: nowrap;
            font-size: 1.1em;
            font-weight: bold;

            padding-right: 1%;

            text-decoration: underline;
        }

        .body-center3__header__rightSide__element__list__element__text{
            width: max-content;
            font-size: 1em;
        }

/* BODY TABLE */
    /* NAV BAR */
    .body-center3__bodyTable__nav{
        display: flex;
        font-size: 0.5em;
    }

    .body-center3__bodyTable__nav__element{
        background-color: rgb(240, 240, 240);
        padding: 0.5% 2%;

        text-wrap: nowrap;
        border-left: 0.15vw solid gray;

        transition: background-color 0.3s, color 0.3s, transform 0.3s;
    }

    .body-center3__bodyTable__nav__element + .body-center3__bodyTable__nav__element{
        margin-left: 1%;
    }

    .bc3_nav-normal:hover{
        cursor: pointer;
        background-color: rgb(37, 37, 37);
        color: white;
        transform: scale(1.05);
    }

    .bc3_nav-normal:active{
        transform: scale(0.95);
    }

    .bc3_nav-active{
        background-color: rgb(37, 37, 37);
        color: white;
    }

    /* BODY */
    .body-center3__bodyTable__body{
        width: 100%;
        height: max-content;

        display: flex;
        flex-direction: column;

        background-color: aliceblue;
    }

    /* DANH SACH */
        /* THÀNH VIÊN */
        #body-center3__DSTV .Acontent__gridTable__element__part{
            grid-template-columns: 25% 5% 20% 50%;
        }

        /* HOẠT ĐỘNG */
        #body-center3__DSHD{
            display: none;
        }

        #body-center3__DSHD .Acontent__gridTable__element__part{
            grid-template-columns: 25% 25% 20% 12% 18%;
        }

        /* UPDATE LATER */
        #body-center3__UPDATELATER{
            display: none;
            font-size: calc(var(--myfontsize)/2);
            color: rgb(0, 0, 0);
            background-color: white;
            margin-left: 1%;
        }