.body-center{
    position: relative;
    left: 20%;
    top: 0;
    bottom: 0;
    width: 80%;

}

/* LEFT */
.body-left__element{
    position: relative;

    display: flex;
    flex-direction: column;

    margin: 5% 5%;
    padding: 5%;
    border-radius: 1.5vw;
    color: rgb(37, 37, 37);
    background-color: rgb(255, 255, 255);
}

.body-left__element h3{
    font-size: 1.3em;
}

.body-left__element--list{
    padding: 0;
    list-style: none;
}

.body-left__element--list--obj{
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 3% 0;
    padding-left: 10%;
    color: rgb(37, 37, 37);
    font-size: 1em;
}

.body-left__element--list--obj:hover{
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
}

/* CENTER */
.body-center__content{
    display: flex;
    flex-direction: column;

    margin: 2%;
    margin-right: 5%;
    color: black;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5vw;
}

.body-center__content ul.a{
    padding-bottom: 2%;
    padding-left: 5%;

    background-color: rgb(255, 230, 179);
    border-radius: 1.5vw;
}

.body-center__content ul.p{
    padding-bottom: 2%;
    padding-left: 5%;

    background-color: rgb(255, 255, 255);
    border-radius: 1.5vw;
}

.body-center__content--a_element{
    display: flex;

    background-color: rgb(255, 244, 194);
    border: 0.1vw solid rgb(255, 231, 164);
    color: rgb(37, 37, 37);
    padding: 1.5% 5%;
    margin-right: 5%;
}

.body-center__content--a_element:hover{
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);    
}

.body-center__content--p_element{
    background-color: rgb(243, 243, 243);
    color: rgb(37, 37, 37);
    padding: 1% 5%;
    margin-right: 5%;
}

.body-center__content--listblock{
    border: 0.2vw solid rgb(56, 56, 56);
}

.body-center__content--title{
    margin-right: 5%;
}