.body__content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.body-center{
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;

    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 1.5vw 1vw rgb(210, 210, 210);
}
/* CENTER */
.body-center__content{
    display: flex;
    flex-direction: column;

    margin: 2%;
    margin-right: 5%;
    color: black;
    font-size: 1em;
    background-color: rgb(255, 255, 255);

    border-radius: 1.5vw;
}

.body-center__content ul.a{
    padding-bottom: 2%;
    padding-right: 5%;

    background-color: rgb(255, 230, 179);
    border-radius: 1.5vw;
}

.body-center__content ul.p{
    padding-bottom: 2%;
    padding-right: 5%;

    background-color: rgb(255, 255, 255);
    border-radius: 1.5vw;
}

.body-center__content--a_element{
    display: flex;

    width: fit-content;
    background-color: rgb(255, 244, 194);
    border: 0.1vw solid rgb(255, 231, 164);
    color: rgb(37, 37, 37);
    padding: 1.5% 5%;
    margin-right: 5%;
}

.body-center__content--a_element:hover{
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);    
}

.body-center__content--p_element{
    background-color: rgb(243, 243, 243);
    color: rgb(37, 37, 37);
    padding: 1% 0;
    padding-left: 5%;

}

.body-center__content--listblock{
    padding-left: 5%;
    border: 0.2vw solid rgb(56, 56, 56);
}

.body-center__content--title{
    margin-right: 5%;
}

/* AVT */
#pictures-block{
    position: relative;
    height: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

#pictures--background{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background{
    position: absolute;

    width: 97%;
    height: 90%;

    object-fit: cover;
    border-radius: 1.5vw;
}

#pictures--avatar{
    position: absolute;
    width: 15vw;
    height: 15vw;

    display: flex;
    justify-content: center;
    align-items: center;    

    background-color: aqua;
    border-radius: 50%;
}

#avatar{
    position: absolute;
    width: 100%;
    height: 100%;

    border: 0.5vw solid white;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 310px){
    #avatar{
        border: 1.55px solid white;
    }
}

@media screen and (min-width: 1400px){
    #avatar{
        border: 7px solid white;
    }
}