/* CENTER */
.body-center4{
    position: relative;
    width: 80%;
    height: max-content;

    padding: 3% 3%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 2vw;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 1.5vw 1vw rgb(210, 210, 210);

    display: flex;
    flex-direction: column;
}

/* CENTER ELEMENT */

.body-center4__element{
    padding: 1% 2%;
    background-color: white;

    border-radius: 1vw;
}

.body-center4__element + .body-center4__element{
    margin-top: 3%;
}

.body-center4__element h3{
    color: rgb(37, 37, 37);
    padding: 1% 0;
    font-size: 1.7em;
}

.body-center4__element--list{
    padding: 0;
}

.body-center4__element--list--obj{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    border-radius: 1vw;

    background-color: rgb(240, 240, 240);
    transition: background-color 0.5s;
}

.body-center4__element--list--obj:hover{
    background-color: rgb(37, 37, 37);
}

.body-center4__element--list--obj:hover > .obj4__document{
    color: white;
}

.body-center4__element--list--obj:hover > .obj4__uploader a{
    color:rgb(145, 205, 255);
}

.body-center4__element--list--obj + .body-center4__element--list--obj{
    margin-top: 1%;
}

.obj4{
    color: rgb(37, 37, 37);
    padding: 0.2% 0;
}

.obj4__document{
    font-size: 1.3em;

    transition: color 0.5s;
}

.obj4__document:hover{
    background-color: rgba(240, 240, 240, 0.5);
    text-decoration: underline;

    opacity: 0.8;
}

.obj4__uploader{
    display: flex;
    justify-content: flex-end;
    font-size: 1em;

    transition: color 0.5s;
}

.obj4__uploader a{
    color: rgb(0, 89, 255);
    text-decoration: underline;
}