.body{
    position: relative;
}

.body--part{
    display: inline-block;
}

.body-left{
    position: relative;
    width: 20%;
    height: 100vh;

    background-color: rgb(255, 255, 255);
}

.body-right{
    position: relative;
    width: 80%;
}

#sidebar{
    position: absolute;
    width: 100%;
    height: 100%;

    padding: 2% 3%;
}

#file-box{
    position: absolute;
    left: 1%;
    right: 2%;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
}

#file-box--file{
    position: absolute;
    width: 85%;
    height: 100%;
}