:root{
    --font-size: 1vw;
}

@media screen and (max-width: 310px) {
    :root{
        --font-size: 3.1px;
    }
}

@media screen and (min-width: 1400px) {
    :root{
        --font-size: 14px;
    }
}

#body__content{
    position: relative;
    width: 100%;
    height: max-content;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size);

    background-color: rgb(255, 255, 255);
}

.content__block{
    position: relative;
    width: 90%;
    height: max-content;
    font-size: 1em;

    margin: 1% 0 2% 0;
    padding: 1% 2%;
    border-radius: 0.5vw;
}

#field{
    position: relative;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);

    background-image: linear-gradient(90deg, rgb(17, 16, 96),rgb(63, 89, 205))
}

#field .field__column{
    font-size: 1em;
}

#field .field__column{
    margin: 0 2.5%;
}

#field .field__column__element{
    position: relative;
    height: 5.6vw;
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 1em;
    color: white;   
    background-color: rgba(169, 179, 213, 0.534);

    border-radius: 0.5vw;
    transition: opacity 0.2s, transform 0.2s;
}

#field .field__column__element:hover{
    cursor: pointer;
    opacity: 0.8;
}

#field .field__column__element:active{
    opacity: 1;
    transform: scale(1.02);
}

#field .field__column__element + .field__column__element{
    margin-top: 5%;
}

#field .fElement__pic{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 62, 62);
    border-radius: 0.5vw 0 0 0.5vw;
}

#field .fElement__pic .element__pic{
    position: relative;
    height: 5.6vw;
    object-fit: cover;
    border-radius: 0.5vw 0 0 0.5vw;
}

#field .fElement__des{
    max-height: 5.6vw;
    font-size: 1em;
    margin-left: 2%;

    overflow-y: auto;
}

#field .fElement__des .element__title{
    font-size: 1.7em;

    overflow-x: hidden;
    text-wrap: nowrap;
}

#field .fElement__des .element__des{
    font-size: 1em;
}