* {
  box-sizing: inherit;
  margin: 0;
}

@font-face {
  font-family: zahoma;
  src: url("../fonts/tahoma.ttf") format("truetype"),
    url("../fonts/tahoma.woff") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url("../fonts/roboto.ttf") format("truetype"),
    url("../fonts/roboto.woff") format("truetype");
  font-style: normal;
}

html {
  font-size: 62.5%;
  font-family: zahoma;
  box-sizing: border-box;
  color: white;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.grid {
  background-color: darkorange;
  width: 100vw;
}

.button {
  border-radius: 3vw;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.6s ease;
}

.button:active {
  opacity: 1;
  color: rgb(87, 87, 87);
  box-shadow: 0vw 0vw 1vw 0vw rgb(158, 158, 158);
  background-color: rgb(197, 197, 197);
  transition: background-color 0.5s ease;
  transition: box-shadow 0.1s ease;
}

.navbutton {
  border-radius: 30px;
  transition: opacity 0.3s ease-out;
  transition: background-color 0.6s ease-out;
  transition: color 0.7s ease-out;
}

.navbutton:hover {
  color: white;
  background-color: rgba(37, 37, 37, 0.6);
}

.navbutton:active {
  opacity: 0.7;
  color: bisque;
  background-color: rgba(33, 33, 33);
}

.frame-header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-width: 50px;
  height: 8vw;
  max-height: 110px;
}

@media screen and (max-width: 500px) {
  .frame-header {
    height: 12vw;
  }
}

.under-header {
  position: relative;
  /* flex: 1 0 auto; */
  top: 8vw;
  width: 100vw;
  min-width: 310px;
  height: 100vh;

  background-color: rgb(9, 237, 35);
}

@media screen and (max-width: 310px) {
  .under-header {
    top: 25px;
  }
}

@media screen and (min-width: 1250px) {
  .under-header {
    top: 100px;
  }
}

.body {
  position: absolute;
  max-height: 82vh;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  min-width: 310px;
  height: max-content;

  background-color: rgb(224, 245, 255);
}

.body__content {
  position: relative;
  min-width: 310px;

  display: flex;

  font-size: 1vw;
}

@media screen and (max-width: 310px) {
  .body__content {
    font-size: 3.1px;
  }
}

.body-part {
  display: inline-block;
}

.body-sidebar {
  border-right: 0.25vw solid gray;
  border-left: 0.25vw solid gray;

  background-image: linear-gradient(
    90deg,
    rgb(200, 244, 255),
    rgb(175, 239, 255)
  );
}
.myfooter {
  position: relative;
  flex-shrink: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-width: 310px;
  height: 8vw;
  min-height: 24.8px;
  max-height: 112px;
  font-size: 1.2vw;
  background-color: rgb(110, 154, 222);
}
