<link rel="stylesheet" href="css/gioi_thieu/body.css" />
<title>GIỚI THIỆU</title>
<div class="under-header">
  <!-- KHỞI TẠO KHUNG BODY -->
  <div class="body grid">
    <!-- KHUNG BODY -->
    <div class="body__content">
      <div class="body__center5">
        <div class="body__center5__element">
          <div class="body__center5__element__block">
            <div class="body__center5__element__block__title">
              <img
                class="body__center5__element__block__title--icon1"
                src="pic/HVN_icon.jpg"
                alt="Phù hiệu"
              />
              <h1
                class="body__center5__element__block__title--text-box5__heading"
              >TRƯỜNG THPT HUỲNH VĂN NGHỆ</h1>
              <img
                class="body__center5__element__block__title--icon2"
                src="pic/HVN_icon.jpg"
                alt="Phù hiệu"
              />
            </div>

            <div class="body__center5__element__block__text-box">
              <h3 class="text-box5__heading">RA ĐỜI:</h3>
              <p class="text-box5__paragraph">Năm 1959, năm năm sau ngày ký
                hiệp định Geneva, trên vùng đất Chiến khu “Đ” bom cày đạn
                xới, ngôi trường trung học đầu tiên của tỉnh Phước Thành cũ
                ra đời trong sự đùm bọc của nhân dân Tân Uyên. Lúc đó ngôi
                trường có tên khai sinh là Trần Quốc Tuấn.</p>
              <p class="text-box5__paragraph">Năm 1961, trường đổi tên thành
                Trường Trung học Phước Thành. Năm 1973, trường mang tên
                Quận: trường Trung học Tân Uyên.</p>
              <p class="text-box5__paragraph">Sau 30/4/1975, trường đổi tên
                thành Phổ thông cấp 2, 3 Tân Uyên</p>
              <p class="text-box5__paragraph">Từ năm 1976, trường mang tên
                PTTH Tân Uyên I, các lớp cấp 2 tách ra nhập vào trường cấp 1
                thành lập trường PTCS Uyên Hưng.</p>
            </div>

            <div class="body__center5__element__block__text-box">
              <h3 class="text-box5__heading">THÀNH TỰU:</h3>
              <p class="text-box5__paragraph">Trường đã từng bước đặt cho
                mình những cột mốc lịch sử quan trọng trong sự nghiệp bách
                niên là thụ nhân. Đặc biệt từ năm 1992-1993 đến nay trường
                mang tên người con ưu tú của vùng đất cách mạng chiến khu Đ,
                trường THPT Huỳnh Văn Nghệ. Trong năm học này trường có 26
                lớp, 55 thầy cô, 1012 học sinh. Dãy phòng học lầu, phòng vi
                tính cũng đã được đưa vào sử dụng.</p>
              <p class="text-box5__paragraph">Trường vinh dự được Chủ tịch
                nước Trần Đức Lương tặng Huân chương lao động hạng ba vào
                năm 1999. Năm 1997-2003 trường được Thủ tướng Chính phủ tặng
                Bằng khen cho tập thể trường. Năm 2010, trường THPT Huỳnh
                Văn Nghệ vinh dự được UBND tỉnh Bình Dương công nhận là
                trường đạt chuẩn quốc gia cùng nhiều thành tích đáng ghi
                nhận khác. Thật đáng để chúng ta tự hào.</p>
            </div>

            <div class="body__center5__element__block__text-box">
              <h3 class="text-box5__heading">.</h3>
              <p class="text-box5__paragraph">Đến nay, chúng ta có quyền tự
                hào về trường trung học có tuổi cao nhất nhì trong tỉnh Bình
                Dương-chính là trường THPT Huỳnh Văn Nghệ (1959-2021), “62
                năm ấy biết bao nhiêu tình”, sự trưởng thành của ngôi trường
                gắn pền với công sức của tập thể thầy cô và vai trò đầu tiên
                của các thầy Hiệu trưởng nối tiếp nhau</p>
              <p class="text-box5__paragraph">Hy vọng đó sẽ là nền móng vững
                chắc nhằm giáo dục đạo đức lối sống, nhân cách, kỹ năng sống
                cho học sinh, đẩy mạnh phong trào dạy tốt học tốt, nâng cao
                chất lượng giáo dục trong nhà trường.</p>
            </div>
          </div>
        </div>

        <div class="body__center5__element">
          <div class="body__center5__element__block">
            <div class="body__center5__element__block__title">
              <img
                class="body__center5__element__block__title--icon1"
                src="pic/HVN_icon.jpg"
                alt="Phù hiệu"
              />
              <h1
                class="body__center5__element__block__title--text-box5__heading"
              >TỔ HÓA - SINH - KTNN:</h1>
              <img
                class="body__center5__element__block__title--icon2"
                src="pic/HVN_icon.jpg"
                alt="Phù hiệu"
              />
            </div>

            <div class="body__center5__element__block__text-box">
              <h3 class="text-box5__heading">CƠ CẤU:</h3>
              <ul class="list">
                <h4 class="list--text-box5__heading">Thành phần:</h4>
                <li class="list--text-box5__paragraph">Tổng số giáo viên: 13</li>
                <li class="list--text-box5__paragraph">Cán bộ quản lý: 1
                  (Phó hiệu trưởng)</li>
                <li class="list--text-box5__paragraph">Giáo viên bộ môn Hóa:
                  7</li>
                <li class="list--text-box5__paragraph">Giáo viên bộ môn
                  Sinh: 4</li>
                <li class="list--text-box5__paragraph">Giáo viên bộ môn Công
                  nghệ: 1</li>
              </ul>

              <ul class="list">
                <h4 class="list--text-box5__heading">Trình độ:</h4>
                <li class="list--text-box5__paragraph">100% giáo viên có
                  trình độ đại học.</li>
                <li class="list--text-box5__paragraph">2 giáo viên có trình
                  độ thạc sĩ.</li>
              </ul>

              <ul class="list">
                <h4 class="list--text-box5__heading">Nhiệm vụ:</h4>
                <li class="list--text-box5__paragraph">Giảng dạy môn Hóa,
                  Sinh cho tất cả các lớp trong trường.</li>
                <li class="list--text-box5__paragraph">Giảng dạy môn Công
                  nghệ khối 10.</li>
              </ul>
            </div>

            <div class="body__center5__element__block__text-box">
              <h3 class="text-box5__heading">DANH SÁCH GIÁO VIÊN:</h3>
              <div class="gridContainer5">
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part gridContainer5__element__title"
                  >STT</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part gridContainer5__element__title"
                  >HỌ VÀ TÊN</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part gridContainer5__element__title"
                  >CHỨC VỤ</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part gridContainer5__element__title"
                  >CHUYÊN MÔN</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >1</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Nguyễn Thị Tuyết Mai</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Phó Hiệu trưởng</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Hóa</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >2</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Tống Thị Lệ Hằng</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Tổ trưởng chuyên môn</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Hóa</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >3</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Nguyễn Bùi Mỹ Linh</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Tổ phó chuyên môn</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Sinh</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >4</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Nguyễn Trần Yến Trang</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Hóa</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >5</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Lê Ngọc Phượng</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Hóa</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >6</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Nguyễn Thị Lai</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Hóa</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >7</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Phạm Ngọc Thanh</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Hóa</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >8</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Nguyễn Bình An</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Hóa</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >9</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Nguyễn Thị Huế</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Hóa</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >10</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Đỗ Hạnh Vi</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Sinh</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >11</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Lương Thị Tuyết Nhung</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Sinh</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >12</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Nguyễn Văn Hò</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >Sinh</p>
                </div>
                <div class="gridContainer5__element">
                  <p
                    class="gridContainer5__element__index gridContainer5__element__part"
                  >13</p>
                  <p
                    class="gridContainer5__element__name gridContainer5__element__part"
                  >Phạm Quốc Trị</p>
                  <p
                    class="gridContainer5__element__position gridContainer5__element__part"
                  >Giáo viên</p>
                  <p
                    class="gridContainer5__element__subject gridContainer5__element__part"
                  >KTNN</p>
                </div>
              </div>
            </div>

            <div class="body__center5__element__block__text-box">
              <h3 class="text-box5__heading">THÀNH TỰU:</h3>
              <p class="text-box5__paragraph">Tổ thường xuyên đạt danh hiệu
                tập thể lao động tiên tiến trong các năm học. Về cá nhân
                nhiều cô giáo, thầy giáo đã được công nhận là chiến sĩ thi
                đua cấp cơ sở, là giáo viên giỏi cấp trường… .</p>
            </div>

            <div class="body__center5__element__block__text-box">
              <h3 class="text-box5__heading">.</h3>
              <p class="text-box5__paragraph">Là một tập thể có tinh thần
                tương thân, tương ái luôn sẵn sàng giúp đỡ động viên nhau
                hoàn thành tốt nhiệm vụ năm học, tích cực, nhiệt tình tham
                gia trong các phong trào thi đua do nhà trường và các đoàn
                thể tổ chức, phát động.</p>
              <p class="text-box5__paragraph">Các giáo viên trong tổ có
                trình độ chuyên môn vững vàng, có tinh thần trách nhiệm cao
                trong công tác giảng dạy. Chính vì vậy, công việc học tập
                nâng cao trình độ chuyên môn, đổi mới phương pháp giảng dạy
                trong giai đoạn hiện nay có nhiều thuận lợi, qua đó đảm bảo
                chất lượng giảng dạy góp phần vào thành tích chung của nhà
                trường.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #page5{ color: white !important; background-color: rgb(60, 60, 60);
  transition: opacity 0.3s ease-out; transition: background-color 0.6s
  ease-out; transition: color 0.7s ease-out; }
</style>