<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  </head>
  <body>
    <h1>HOME BASIC TEST</h1>
    <ul class="people_list">
      {{#each db.data}}
        <li>{{this.uname}} {{this.psw}}</li>
      {{/each}}
    </ul>
    <iframe class="footer" src="html/footer.html" frameborder="0"></iframe>
  </body>
</html>