<div id="webLoginBody" class="under-header">
  <div id="loginTable">
    <div id="tableHeading">
      <h1>TÀI KHOẢN</h1>
    </div>
    <form id="tableBody" method="post" action="/">
      <div class="tableBody__part" id="tableBodyTop">
        <div class="tableBody__part__element">
          <i class="fa-solid fa-user" style="color: black;"></i>
          <input type="text" placeholder="Tài khoản" id="email" />
        </div>

        <div class="tableBody__part__element">
          <i class="fa-solid fa-lock" style="color: black;"></i>
          <input type="password" placeholder="Mật khẩu" id="password" />
        </div>

      </div>
      <div class="tableBody__part" id="tableBodyBottom">
        <button
          type="submit"
          class="tableBody__part__element"
          id="loginButton"
        >Đăng nhập</button>
        <p class="tableBody__part__element" id="loginNote">Nếu chưa hoặc quên
          tài khoản, xin vui lòng liên hệ giáo viên.</p>
      </div>
    </form>
  </div>
</div>
<!-- FOOTER -->
{{! <iframe class = "footer" src="html/footer.html" frameborder="0"></iframe>   }}