<div class="under-header">
  <form id="loginForm">
    <div>
      <label for="email">Nhập mã tài khoản:</label>
      <input
        type="text"
        id="email"
        name="tk"
        placeholder="nhập mã tài khoảng"
      />
    </div>
    <div>
      <label for="password">Nhập mật khẩu:</label>
      <input
        type="password"
        id="password"
        name="mk"
        placeholder="nhập mật khẩu"
      />
    </div>
    <button type="submit" id="loginButton">Đăng nhập</button>
  </form>
</div>

<script>
  $(document).ready(function(){ $("#loginForm").submit(function(e){
  e.preventDefault(); var tk = $("#email").val(); var mk = $("#password").val();
  document.cookie = "tk=" + tk + ";path=/"; $.ajax({ url: "/", type: "POST",
  data: {tk: tk, mk: mk}, success: function(response){
  console.log(response);$('body').html(response); }, error: function(jqXHR,
  textStatus, errorThrown){ console.log(textStatus, errorThrown); } }); }); });
</script>