<!-- BODY -->
<div id="webLoginBody" class="under-header">
  <div id="loginTable">
    <div id="tableHeading">
      <h1>TÀI KHOẢN</h1>
    </div>
    <div id="tableBody">
      <div class="tableBody__part" id="tableBodyTop">
        <div class="tableBody__part__element">
          <i class="fa-solid fa-user" style="color: black;"></i>
          <input type="text" placeholder="Tài khoản" class="email" />
        </div>

        <div class="tableBody__part__element">
          <i class="fa-solid fa-lock" style="color: black;"></i>
          <input type="password" placeholder="Mật khẩu" class="password" />
        </div>

      </div>
      <div class="tableBody__part" id="tableBodyBottom">
        <a href="" class="tableBody__part__element" id="loginButton">Đăng nhập</a>
        <p class="tableBody__part__element" id="loginNote">Nếu chưa hoặc quên
          tài khoản, xin vui lòng liên hệ giáo viên.</p>
      </div>
    </div>
  </div>
</div>