<link rel="stylesheet" href="css/dang_nhap/body.css" />
<title>ĐĂNG NHẬP</title>
<!-- BODY -->
<div id="webLoginBody" class = "under-header">
    <div id="loginTable">
        <div id="loginTableHeading">
            <h1>TÀI KHOẢN</h1>
        </div>
        <form id="loginTableBody" method = "" action="trangchu">
            <div class = "loginTableBody__part" id="loginTableBodyTop">
                <label for = "email" class="loginTableBody__part__element">
                    <i class="fa-solid fa-user" style = "color: black;"></i>
                    <input type="text" placeholder = "Tài khoản" id = "email" name = "tk">
                </label>

                <label for = "password" class="loginTableBody__part__element">
                    <i class="fa-solid fa-lock" style = "color: black;"></i>
                    <input type = "password" placeholder = "Mật khẩu" id = "password" name = "mk">
                </label>

            </div>
            <div class = "loginTableBody__part" id="loginTableBodyBottom">
                <button type="submit" class="loginTableBody__part__element" id = "loginButton">Đăng nhập</button>
                <p class = "loginTableBody__part__element" id = "loginNote">Nếu chưa hoặc quên tài khoản, xin vui lòng liên hệ giáo viên.</p>
            </div>
        </form>
    </div>
</div>
<script>
  $(document).ready(function(){ $("#loginTableBody").submit(function(e){
  e.preventDefault(); var tk = $("#email").val(); var mk = $("#password").val();
  $.ajax({ url: "/login", type: "POST", data: {tk: tk, mk: mk}, success:
  function(response){ $('body').html(response); }, error: function(jqXHR,
  textStatus, errorThrown){ console.log(textStatus, errorThrown); } }); }); });
</script>