<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TOP CSS -->
    <link rel="stylesheet" href="css/base.css" />

    <!-- BELOW CSS -->
    <link rel="stylesheet" href="css/thong_tin_lop/body.css" />

    <!-- JAVASCRIPT -->
    <script src="js/create_header.js"></script>
    <script src="js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/0afaeea3b6.js"
      crossorigin="anonymous"
    ></script>
    <title>LỚP</title>
  </head>
  <body>
    <!-- BODY BODY BODY -->
    <!-- KHỞI TẠO KHUNG THÂN -->
    <div class="under-header">
      <!-- KHỞI TẠO KHUNG BODY -->
      <div class="body grid">
        <!-- KHUNG BODY -->
        <div class="body__content">
          <!-- TRÁI BODY -->
          <div
            class="body-left2 body-part Acontent__sidebar AcontentSidebar--left set-scrollbar--x"
          >
            <!-- CÁC PHẦN TỬ CON -->
            <div class="Acontent__sidebar__element body-left2__searchBlock">
              <form
                class="body-left2-Acontent__sidebar__element__form"
                action=""
              >
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="findClass" placeholder="Tìm Lớp" />
              </form>

              <div id="body-left2__listYear">
                <select name="year" id="selectYear">
                  <option value="">2024</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                </select>
                <label for="selectYear" id="icon-selectYear"><i
                    class="fa-solid fa-calendar-days"
                  ></i></label>
              </div>

            </div>
            <!-- CÁC PHẦN TỬ CON -->
            <div class="Acontent__sidebar__element">
              <p class="Acontent__sidebar__element__header">DANH SÁCH KHỐI 10</p>
              <div class="Acontent__sidebar__element__content" id="group10">
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.1"
                >10.1</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.2"
                >10.2</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.3"
                >10.3</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.4"
                >10.4</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.5"
                >10.5</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.6"
                >10.6</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.7"
                >10.7</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.8"
                >10.8</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.9"
                >10.9</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.10"
                >10.10</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.11"
                >10.11</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--10.12"
                >10.12</a>
              </div>
              <div
                onclick="setHeight('group10', this)"
                class="body-left2__sidebarBtn"
              ><i class="fa-solid fa-chevron-up"></i> <span>ALL</span></div>
            </div>

            <div class="Acontent__sidebar__element">
              <p class="Acontent__sidebar__element__header">DANH SÁCH KHỐI 11</p>
              <div class="Acontent__sidebar__element__content" id="group11">
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.1"
                >11.1</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.2"
                >11.2</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.3"
                >11.3</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.4"
                >11.4</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.5"
                >11.5</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.6"
                >11.6</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.7"
                >11.7</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.8"
                >11.8</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.9"
                >11.9</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.10"
                >11.10</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.11"
                >11.11</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--11.12"
                >11.12</a>
              </div>
              <div
                onclick="setHeight('group11', this)"
                class="body-left2__sidebarBtn"
              ><i class="fa-solid fa-chevron-up"></i> <span>ALL</span></div>
            </div>

            <div class="Acontent__sidebar__element">
              <p class="Acontent__sidebar__element__header">DANH SÁCH KHỐI 12</p>
              <div class="Acontent__sidebar__element__content" id="group12">
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.1"
                >12.1</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.2"
                >12.2</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.3"
                >12.3</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.4"
                >12.4</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.5"
                >12.5</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.6"
                >12.6</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.7"
                >12.7</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.8"
                >12.8</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.9"
                >12.9</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.10"
                >12.10</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.11"
                >12.11</a>
                <a
                  class="Acontent__sidebar__element__content__element"
                  href=""
                  id="class--12.12"
                >12.12</a>
              </div>
              <div
                onclick="setHeight('group12', this)"
                class="body-left2__sidebarBtn"
              ><i class="fa-solid fa-chevron-up"></i> <span>ALL</span></div>
            </div>
            <div class="sideBar paddingBottom"><i
                class="fa-solid fa-circle-info"
              ></i>Đã hết danh sách</div>

            <script>
              function setHeight(id, btn) { let element =
              document.getElementById(id); if (element.style.height ==
              "max-content"){ document.getElementById(id).style.height = 0;
              btn.getElementsByTagName("i")[0].style.transform =
              "rotate(180deg)"; btn.getElementsByTagName("span")[0].textContent
              = " ALL"; } else { document.getElementById(id).style.height =
              "max-content"; btn.getElementsByTagName("i")[0].style.transform =
              "rotate(0deg)"; btn.getElementsByTagName("span")[0].textContent =
              " HIDE"; } } function showListYears(e){
              e.getElementsByTagName("i") }
            </script>

          </div>
          <!-- GIỮA BODY -->
          <div class="body-center2 body-part">
            <!-- CÁC PHẦN TỬ CON -->
            <div class="Acontent__table" id="body-center2__header">
              <div id="body-center2__header__pics">
                <img
                  src="pic/class_background.jpg"
                  alt="background"
                  id="background"
                />
                <div id="pictures--avatar">
                  <img src="pic/class_avatar.jpg" alt="avatar" id="avatar" />
                  <i class="fa-regular fa-image" id="addAvatar"></i>
                </div>
                <p id="body-center2__header__pics__className">LỚP
                  <span id="class-name">10.7</span>
                  <i
                    class="fa-solid fa-bookmark"
                    style="color: rgb(255, 204, 0)"
                  ></i></p>
              </div>
              <div id="body-center2__header__rightSide">
                <div
                  class="body-center2__header__rightSide__element set-scrollbar--x"
                  id="body-center2__header__rightSide__information"
                >
                  <h3
                    class="body-center2__header__rightSide__element__title"
                  >THÔNG TIN LỚP</h3>
                  <div class="body-center2__header__rightSide__element__list">
                    <p
                      class="body-center2__header__rightSide__element__list__element"
                    >
                      <span
                        class="body-center2__header__rightSide__element__list__element__title"
                      >GVCN</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >Nguyễn Thanh Trúc</span>
                    </p>
                    <p
                      class="body-center2__header__rightSide__element__list__element"
                    >
                      <span
                        class="body-center2__header__rightSide__element__list__element__title"
                      >LỚP TRƯỞNG</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >Lê Văn Sở</span>
                    </p>
                    <p
                      class="body-center2__header__rightSide__element__list__element"
                    >
                      <span
                        class="body-center2__header__rightSide__element__list__element__title"
                      >NĂM HỌC</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >2023-2024</span>
                    </p>
                    <p
                      class="body-center2__header__rightSide__element__list__element"
                    >
                      <span
                        class="body-center2__header__rightSide__element__list__element__title"
                      >SỈ SỐ</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >31</span>
                    </p>
                  </div>
                </div>
                <div
                  class="body-center2__header__rightSide__element set-scrollbar--x"
                  id="body-center2__header__rightSide__list"
                >
                  <h3
                    class="body-center2__header__rightSide__element__title"
                  >THI ĐUA TUẦN
                    <span
                      class="add__week-number"
                      style="border-left: 0.1vw solid gray; padding: 0 2%"
                    ></span></h3>
                  <div class="body-center2__header__rightSide__element__list">
                    <p
                      class="body-center2__header__rightSide__element__list__element"
                    >
                      <span
                        class="body-center2__header__rightSide__element__list__element__title"
                      >TOP TRÊN</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >Top 1</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >Lớp 11.4</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >205 điểm</span>
                    </p>
                    <p
                      class="body-center2__header__rightSide__element__list__element"
                    >
                      <span
                        class="body-center2__header__rightSide__element__list__element__title"
                      >HẠNG CỦA LỚP</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >Top 2</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >Lớp 10.7</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >200 điểm</span>
                    </p>
                    <p
                      class="body-center2__header__rightSide__element__list__element"
                    >
                      <span
                        class="body-center2__header__rightSide__element__list__element__title"
                      >TOP DƯỚI</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >Top 3</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >Lớp 12.5</span>
                      <span
                        class="body-center2__header__rightSide__element__list__element__text"
                      >178 điểm</span>
                    </p>
                  </div>
                  <div class="paddingBottom"></div>
                </div>
              </div>
            </div>
            <!-- CHỈNH SỬA -->
            <div id="updateInfoDiv" class="set-scrollbar--y" style="margin: 2%">
              <div
                class="updateInfoDiv__element updateInfoDiv__pic"
                onclick="show_updateInfoDiv(0)"
              >
                <span><i class="fa-solid fa-image"></i>
                  Thay đổi ảnh đại diện</span>
              </div>
              <div
                class="updateInfoDiv__element updateInfoDiv__infomation"
                onclick="show_updateInfoDiv(1)"
              >
                <span><i class="fa-solid fa-pen"></i>
                  Cập nhật thông tin lớp</span>
              </div>
            </div>
            <!-- CHỈNH SỬA -->
            <div class="Acontent__table">
              <div class="body-center2__bodyTable__nav set-scrollbar--y">
                <div
                  class="body-center2__bodyTable__nav__element bc2_nav-active"
                >DS HỌC SINH</div>
                <div
                  class="body-center2__bodyTable__nav__element bc2_nav-normal"
                >LỊCH SỬ THI ĐUA</div>
                <div
                  class="body-center2__bodyTable__nav__element bc2_nav-normal"
                >THÀNH TÍCH HỌC TẬP</div>
                <div
                  class="body-center2__bodyTable__nav__element bc2_nav-normal"
                >THỜI KHÓA BIỂU</div>
                <div
                  class="body-center2__bodyTable__nav__element bc2_nav-normal"
                >SƠ ĐỒ LỚP</div>
                <div
                  class="body-center2__bodyTable__nav__element bc2_nav-normal"
                >TEST ELEMENT</div>
              </div>
              <script>
                document.addEventListener('DOMContentLoaded', function() { var
                elements =
                document.querySelectorAll('.body-center2__bodyTable__nav__element');
                elements.forEach(function(element) {
                element.addEventListener('click', function() {
                elements.forEach(function(el) {
                el.classList.remove('bc2_nav-active');
                el.classList.add('bc2_nav-normal'); });
                this.classList.remove('bc2_nav-normal');
                this.classList.add('bc2_nav-active'); }); }); });
              </script>
              <div class="body-center2__bodyTable__body" id="body-center2__DS">
                <div id="body-center2__DSHS bc2_body-show">
                  <div class="body-center2__DSHS__element DSHS__head">
                    <p>Tên</p>
                    <p>Giới tính</p>
                    <p>Ngày sinh</p>
                    <p>Đoàn viên</p>
                    <p>Tổ</p>
                    <p>Chức vụ</p>
                  </div>
                  <div class="body-center2__DSHS__element DSHS__body">
                    <p>Nguyễn Lan Anh</p>
                    <p>Nữ</p>
                    <p>02/12/2008</p>
                    <p>Không</p>
                    <p>3</p>
                    <p>Tổ phó</p>
                  </div>
                  <div class="body-center2__DSHS__element DSHS__body">
                    <p>Lê Ngọc Bảo</p>
                    <p>Nam</p>
                    <p>30/04/2008</p>
                    <p>Có</p>
                    <p>3</p>
                    <p>Tổ viên</p>
                  </div>
                  <div class="body-center2__DSHS__element DSHS__body">
                    <p>Mai Ngọc Chi</p>
                    <p>Nữ</p>
                    <p>12/01/2008</p>
                    <p>Có</p>
                    <p>2</p>
                    <p>Tổ trưởng</p>
                  </div>
                </div>

                <!-- <div id="body-center2__DSTD bc2_body-none">
                                <div class="body-center2__DSTD__element DSTD__head">
                                    <p>Tuần</p>
                                    <p>Hạng</p>
                                    <p>Điểm</p>
                                    <p>Đường liên kết</p>
                                </div>

                                <div class="body-center2__DSTD__element DSTD__body">
                                    <p>22</p>
                                    <p>2</p>
                                    <p>200</p>
                                    <p><a href="" class = "DS__link">Link chi tiết tại đây</a></p>
                                </div>

                                <div class="body-center2__DSTD__element DSTD__body">
                                    <p>21</p>
                                    <p>1</p>
                                    <p>397</p>
                                    <p><a href="" class = "DS__link">Link chi tiết tại đây</a></p>
                                </div>

                                <div class="body-center2__DSTD__element DSTD__body">
                                    <p>20</p>
                                    <p>4</p>
                                    <p>145</p>
                                    <p><a href="" class = "DS__link">Link chi tiết tại đây</a></p>
                                </div>

                                <div class="body-center2__DSTD__element DSTD__body">
                                    <p>19</p>
                                    <p>1</p>
                                    <p>558</p>
                                    <p><a href="" class = "DS__link">Link chi tiết tại đây</a></p>
                                </div>
                            </div> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <style>
      #page2{ color: white !important; background-color: rgb(60, 60, 60);
      transition: opacity 0.3s ease-out; transition: background-color 0.6s
      ease-out; transition: color 0.7s ease-out; }
    </style>
    <!-- FOOTER FOOTER FOOTER -->
    <!-- PHẦN CHÂN KHUNG -->
    {{!-- <iframe class="footer" src="html/footer.html" frameborder="0"></iframe> --}}

    <!-- BLOCK CẬP NHẬT-->
    <div class="set-scrollbar--x" id="updateInfoDiv__hideBlock">
      <div id="updateInfoDiv__infomation__hideBlock">
        <form
          class="updateInfoDiv__hideBlock__part"
          id="updateInfoDiv__hideBlock__pic"
          action=""
          method=""
        >
          <div class="updateInfoDiv__hideBlock__title">
            <h3>Cập nhật ảnh đại diện</h3>
            <div
              id="updateInfoDiv__hideBlock__title--exit"
              onclick="show_updateInfoDiv()"
            ><i class="fa-solid fa-xmark"></i></div>
          </div>
          <label
            class="updateInfoDiv__hideBlock__part__input--file"
            for="c-backgroundPic"
          >
            <!-- c = change -->
            <span>Background</span>
            <input
              class="updateInfoInput"
              type="file"
              accept="image/png, image/jpeg"
              id="c-backgroundPic"
              name="n-backgroundPic"
            />
            <!-- n = new -->
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--file"
            for="c-avatar"
          >
            <!-- c = change -->
            <span>Avata</span>
            <input
              class="updateInfoInput"
              type="file"
              accept="image/png, image/jpeg"
              id="c-avatar"
              name="n-avatar"
            />
            <!-- n = new -->
          </label>
          <div
            class="updateInfoDiv__hideBlock__part"
            id="updateInfoDiv__hideBlock__footer"
          >
            <button
              id="updateInfoDiv__hideBlock__footer--cancel"
              type="button"
              onclick="cancelUpdate(0)"
            >ĐẶT LẠI</button>
            <button
              id="updateInfoDiv__hideBlock__footer--submit"
              type="submit"
            >CẬP NHẬT</button>
          </div>
        </form>
        <form
          class="updateInfoDiv__hideBlock__part"
          id="updateInfoDiv__hideBlock__information"
          action=""
          method=""
        >
          <div class="updateInfoDiv__hideBlock__title">
            <h3>Cập nhật thông tin cơ bản</h3>
            <div
              id="updateInfoDiv__hideBlock__title--exit"
              onclick="show_updateInfoDiv()"
            ><i class="fa-solid fa-xmark"></i></div>
          </div>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-name"
          >
            <!-- c = change -->
            <span>Lớp</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-name"
              name="n-name"
            />
            <!-- n = new -->
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-members"
          >
            <span>Số thành viên</span>
            <input
              class="updateInfoInput"
              type="number"
              id="c-members"
              name="n-members"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-teacher"
          >
            <span>Chủ nhiệm</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-teacher"
              name="n-teacher"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-monitor"
          >
            <span>Lớp trưởng</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-monitor"
              name="n-monitor"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-viceMonitor"
          >
            <span>Lớp phó</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-viceMonitor"
              name="n-viceMonitor"
            />
          </label>
          <div class="updateInfoDiv__hideBlock__title">
            <h3>Cập nhật thông tin liên hệ</h3>
          </div>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-email"
          >
            <span>Email</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-email"
              name="n-email"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-facebook"
          >
            <span>Facebook</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-facebook"
              name="n-facebook"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-teacherPhone"
          >
            <span>SĐT GVCN</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-teacherPhone"
              name="n-teacherPhone"
            />
          </label>
          <div
            class="updateInfoDiv__hideBlock__part"
            id="updateInfoDiv__hideBlock__footer"
          >
            <button
              id="updateInfoDiv__hideBlock__footer--cancel"
              type="button"
              onclick="cancelUpdate(1)"
            >ĐẶT LẠI</button>
            <button
              id="updateInfoDiv__hideBlock__footer--submit"
              type="submit"
            >CẬP NHẬT</button>
          </div>
        </form>
      </div>
      <div class="sideBar paddingBottom" style="color: rgb(0, 0, 0)"></div>
    </div>
    <!-- BLOCK CẬP NHẬT-->
  </body>
</html>