{{! <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/thong_tin_lop/body.css" />
    <script
      src="https://kit.fontawesome.com/0afaeea3b6.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/main.js"></script>
    <title>LỚP</title>
  </head> }}
<div class="under-header">
  <!-- KHỞI TẠO KHUNG BODY -->
  <div class="body grid">
    <!-- KHUNG BODY -->
    <div class="body__content">
      <!-- TRÁI BODY -->
      <div class="body-left body-part body-sidebar">
        <!-- CÁC PHẦN TỬ CON -->
        <div class="body-left__element" id="student_rank">
          <h3>DANH SÁCH LỚP 10</h3>
          <ul class="body-left__element--list">
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.1"
            >10.1</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.2"
            >10.2</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.3"
            >10.3</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.4"
            >10.4</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.5"
            >10.5</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.6"
            >10.6</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.7"
            >10.7</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.8"
            >10.8</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.9"
            >10.9</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.10"
            >10.10</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.11"
            >10.11</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--10.12"
            >10.12</a>
          </ul>
        </div>
        <div class="body-left__element" id="class_rank">
          <h3>DANH SÁCH LỚP 11</h3>
          <ul class="body-left__element--list">
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.1"
            >11.1</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.2"
            >11.2</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.3"
            >11.3</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.4"
            >11.4</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.5"
            >11.5</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.6"
            >11.6</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.7"
            >11.7</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.8"
            >11.8</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.9"
            >11.9</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.10"
            >11.10</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.11"
            >11.11</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--11.12"
            >11.12</a>
          </ul>
        </div>
        <div class="body-left__element" id="student_rank">
          <h3>DANH SÁCH LỚP 12</h3>
          <ul class="body-left__element--list">
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.1"
            >12.1</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.2"
            >12.2</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.3"
            >12.3</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.4"
            >12.4</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.5"
            >12.5</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.6"
            >12.6</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.7"
            >12.7</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.8"
            >12.8</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.9"
            >12.9</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.10"
            >12.10</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.11"
            >12.11</a>
            <a
              class="body-left__element--list--obj"
              href=""
              id="class--12.12"
            >12.12</a>
          </ul>
        </div>
      </div>
      <!-- GIỮA BODY -->
      <div class="body-center body-part">
        <!-- CÁC PHẦN TỬ CON -->
        <div class="body-center__content" id="pictures-block">
          <div id="pictures--background">
            <img
              src="pic/class_background.jpg"
              alt="background"
              id="background"
            />
            <div id="pictures--avatar">
              <img src="pic/class_avatar.jpg" alt="avatar" id="avatar" />
              <i class="fa-regular fa-image" id="addAvatar"></i>
            </div>
          </div>
        </div>
        <div class="body-center__content" id="class--info">
          <ul class="body-center__content--listblock p">
            <h1 class="body-center__content--title">THÔNG TIN CỦA LỚP:</h1>
            <p class="body-center__content--p_element">LỚP:
              <span id="class--name"></span></p>
            <p class="body-center__content--p_element">SỐ THÀNH VIÊN:
              <span id="class--members"></span></p>
            <p class="body-center__content--p_element">CHỦ NHIỆM:
              <span id="class--teacher"></span></p>
            <p class="body-center__content--p_element">LỚP TRƯỞNG:
              <span id="class--monitor"></span></p>
            <p class="body-center__content--p_element">LỚP PHÓ:
              <span id="class--viceMonitor"></span></p>
            <p class="body-center__content--p_element">XẾP HẠNG TUẦN NÀY:
              <span id="class--rank"></span></p>
          </ul>
        </div>
        <div class="body-center__content" id="class--contact">
          <ul class="body-center__content--listblock p">
            <h1 class="body-center__content--title">THÔNG TIN LIÊN HỆ:</h1>
            <p class="body-center__content--p_element">EMAIL:
              <a
                id="class--email"
                href=""
                style="color: rgb(70, 166, 201)"
              ></a></p>
            <p class="body-center__content--p_element">FACEBOOK:
              <a
                id="class--facebook"
                href=""
                style="color: rgb(70, 166, 201)"
              ></a></p>
            <p class="body-center__content--p_element">SĐT LỚP TRƯỞNG:
              <span id="class--monitorPhone"></span></p>
            <p class="body-center__content--p_element">SĐT LỚP PHÓ:
              <span id="class--viceMonitorPhone"></span></p>
            <p class="body-center__content--p_element">SĐT GIÁO VIÊN:
              <span id="class--teacherPhone"></span></p>
          </ul>
        </div>
        <div class="body-center__content" id="class--students">
          <ul class="body-center__content--listblock p">
            <h1 class="body-center__content--title">DANH SÁCH HỌC SINH:</h1>
          </ul>
        </div>

        <script src="js/generate.js"> </script>

      </div>
    </div>
  </div>
</div>