<link rel="stylesheet" href="css/thong_tin_nhom/body.css" />
<title>NHÓM</title>
<!-- BODY BODY BODY -->
<!-- KHỞI TẠO KHUNG THÂN -->
<div class="under-header">
    <!-- KHỞI TẠO KHUNG BODY -->
    <div class = "body grid">
        <!-- KHUNG BODY -->
        <div class="body__content">
            <!-- TRÁI BODY -->
            <div class="body-left3 body-part Acontent__sidebar AcontentSidebar--left set-scrollbar--x">
                <!-- CÁC PHẦN TỬ CON -->
                <div class = "Acontent__sidebar__element body-left3__searchBlock">
                    <form class = "body-left3-Acontent__sidebar__element__form" action="">
                        <i class = "fa-solid fa-magnifying-glass"></i>
                        <input type="text" id = "findClass" placeholder="Tìm nhóm">
                    </form>

                </div>                       
                <!-- CÁC PHẦN TỬ CON -->
                <div class="Acontent__sidebar__element">
                    <p class="Acontent__sidebar__element__header">CÁC NHÓM CỦA BẠN</p>
                    <div class="Acontent__sidebar__element__content" id = "bc3_a">
                        <a class="Acontent__sidebar__element__content__element" href="" >GROUP NAME</a>
                        <a class="Acontent__sidebar__element__content__element" href="" >GROUP NAME</a>
                        <a class="Acontent__sidebar__element__content__element" href="" >GROUP NAME</a>
                        <a class="Acontent__sidebar__element__content__element" href="" >GROUP NAME</a>
                        <a class="Acontent__sidebar__element__content__element" href="" >GROUP NAME</a>
                        <a class="Acontent__sidebar__element__content__element" href="" >GROUP NAME</a>
                    </div>
                    <div onclick = "setHeight('bc3_a', this)" class = "body-left3__sidebarBtn"><i class="fa-solid fa-chevron-up"></i> <span>ALL</span></div>
                </div>

                <div class="sideBar paddingBottom"><i class="fa-solid fa-circle-info"></i>Đã hết danh sách</div>
                
                <script>
                    function setHeight(id, btn) {
                        let element = document.getElementById(id);

                        if (element.style.height == "max-content"){
                        document.getElementById(id).style.height = 0;
                        btn.getElementsByTagName("i")[0].style.transform = "rotate(180deg)";
                        btn.getElementsByTagName("span")[0].textContent = " ALL";

                        } else {
                        document.getElementById(id).style.height = "max-content";
                        btn.getElementsByTagName("i")[0].style.transform = "rotate(0deg)";
                        btn.getElementsByTagName("span")[0].textContent = " HIDE";
                        } 
                    }

                    function showListYears(e){
                        e.getElementsByTagName("i")
                    }
                </script>

            </div>
            <!-- GIỮA BODY -->
            <div class="body-center3 body-part">
                <!-- CÁC PHẦN TỬ CON -->
                <div  class = "Acontent__table tableTitleObject" id = "body-center3__header">
                    <div id="body-center__header__pics">
                        <div id = "profile__pic">
                            <img src = "pic/group_background.jpg"  alt = "background" id = "profile__background">
                            <img src = "pic/group_avatar.jpg" alt = "avatar" id = "profile__avatar">
                        </div>
                        <p id = "body-center__header__pics__className">
                            <span id = "user-name">Tên Nhóm</span>
                            <i class="fa-solid fa-users" style = "margin-left: 1.5%; color: rgb(255, 255, 255)"></i>
                        </p>
                    </div>        
                    <div id="body-center3__header__rightSide">
                        <div class = "body-center3__header__rightSide__element set-scrollbar--x" id="body-center3__header__rightSide__information">
                            <h3 class="body-center3__header__rightSide__element__title">THÔNG TIN NHÓM</h3>
                            <div class="body-center3__header__rightSide__element__list">
                                <p class="body-center3__header__rightSide__element__list__element">
                                    <span class = "body-center3__header__rightSide__element__list__element__title">SỐ LƯỢNG THÀNH VIÊN:</span>
                                    <span class = "body-center3__header__rightSide__element__list__element__text">189</span>
                                </p>
                                <p class="body-center3__header__rightSide__element__list__element">
                                    <span class = "body-center3__header__rightSide__element__list__element__title">LĨNH VỰC:</span>
                                    <span class = "body-center3__header__rightSide__element__list__element__text">Sử học</span>
                                </p>
                                <p class="body-center3__header__rightSide__element__list__element">
                                    <span class = "body-center3__header__rightSide__element__list__element__title">MỤC TIÊU:</span>
                                    <span class = "body-center3__header__rightSide__element__list__element__text">                                        
                                        Phổ cập kiến thức lịch sử dân tộc để bồi đắp lòng yêu nước, tinh thần trách nhiệm, tinh thần yêu đồng bào cho thế hệ trẻ, góp phần xây dựng một đất nước giàu mạnh, văn minh, nhân ái.
                                    </span>
                                </p>
                                <p class="body-center3__header__rightSide__element__list__element">
                                    <span class = "body-center3__header__rightSide__element__list__element__title">PHẠM VI:</span>
                                    <span class = "body-center3__header__rightSide__element__list__element__text">update later</span>
                                </p>
                                <p class="body-center3__header__rightSide__element__list__element">
                                    <span class = "body-center3__header__rightSide__element__list__element__title">ĐÁNH GIÁ:</span>
                                    <span class = "body-center3__header__rightSide__element__list__element__text">update later</span>
                                </p>
                            </div>
                        </div>
                    </div>            
                </div>
                <!-- CHỈNH SỬA -->
                <div id="updateInfoDiv" class = "set-scrollbar--y" style="margin: 2%">
                    <div class="updateInfoDiv__element updateInfoDiv__pic" onclick=show_updateInfoDiv(0)>
                        <span><i class="fa-solid fa-image"></i> Thay đổi ảnh đại diện</span>
                    </div>
                    <div class="updateInfoDiv__element updateInfoDiv__infomation" onclick=show_updateInfoDiv(1)>
                        <span><i class="fa-solid fa-pen"></i> Cập nhật thông tin nhóm</span>
                    </div>
                    <div class="updateInfoDiv__element updateInfoDiv__infomation" onclick=null>
                        <span><i class="fa-solid fa-palette"></i> Tùy chỉnh màu (update later)</span>
                    </div>
                </div>
                <!-- CHỈNH SỬA -->
                <div class="Acontent__table">
                    <div class="body-center3__bodyTable__nav set-scrollbar--y">
                        <div class="body-center3__bodyTable__nav__element bc3_nav-active" onclick = "showTable('body-center3__DSTV')">DS THÀNH VIÊN</div>
                        <div class="body-center3__bodyTable__nav__element bc3_nav-normal" onclick = "showTable('body-center3__DSHD')">HOẠT ĐỘNG</div>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            var elements = document.querySelectorAll('.body-center3__bodyTable__nav__element');
                            elements.forEach(function(element) {
                                element.addEventListener('click', function() {
                                    elements.forEach(function(el) {
                                        el.classList.remove('bc3_nav-active');
                                        el.classList.add('bc3_nav-normal');
                                    });
                                    this.classList.remove('bc3_nav-normal');
                                    this.classList.add('bc3_nav-active');
                                });
                            });
                        });  
                        
                        function showTable(id){
                            document.querySelectorAll(".Acontent__gridTable__element").forEach(function(element){
                                element.style.display = "none";
                            });

                            document.getElementById(id).style.display = "flex";
                        }
                    </script>
                    <div class="Acontent__gridTable" id = "body-center3__DS">
                        <div class = "Acontent__gridTable__element" id="body-center3__DSTV">
                            <div class="Acontent__gridTable__element__part DS__head">
                                <p>Tên</p>
                                <p>Lớp</p>
                                <p>Ngày tham gia</p>
                                <p>Vai trò</p>
                            </div>
                            <div class="Acontent__gridTable__element__part DS__body">
                                <p>Nguyễn Trung Kiên</p>
                                <p>12.2</p>
                                <p>12/02/2023</p>
                                <p>update later</p>
                            </div>
                            <div class="Acontent__gridTable__element__part DS__body">
                                <p>Lê Ngọc Thịnh</p>
                                <p>11.6</p>
                                <p>05/01/2024</p>
                                <p>update later</p>
                            </div>
                            <div class="Acontent__gridTable__element__part DS__body">
                                <p>Mai Ngọc Chi</p>
                                <p>11.2</p>
                                <p>28/02/2023</p>
                                <p>update later</p>
                            </div>
                        </div>
                        
                        <div class = "Acontent__gridTable__element" id="body-center3__DSHD">
                            <div class="Acontent__gridTable__element__part DS__head">
                                <p>Hoạt động</p>
                                <p>Thời gian</p>
                                <p>Thành viên tham gia</p>
                                <p>Trạng thái</p>
                                <p>Đường liên kết</p>
                            </div>
                            <div class="Acontent__gridTable__element__part DS__body">
                                <p>Dọn vệ sinh trường</p>
                                <p>01/02/2024 - 02/02/2024</p>
                                <p>Member1, Member2, Member 3, ... </p>
                                <p>Kết thúc</p>
                                <p><a href="">Link chi tiết</a></p>
                            </div>
                            <div class="Acontent__gridTable__element__part DS__body">
                                <p>Tổ chức gặp gỡ giữa các thành viên</p>
                                <p>01/02/2024</p>
                                <p>Member1, Member2, Member 3, ... </p>
                                <p>Kết thúc</p>
                                <p><a href="">Link chi tiết</a></p>
                            </div>
                            <div class="Acontent__gridTable__element__part DS__body">
                                <p>Tổ chức học nhóm</p>
                                <p>15/01/2024 - Thi THPTQG</p>
                                <p>Member1, Member2, Member 3, ... </p>
                                <p>Đang diễn ra</p>
                                <p><a href="">Link chi tiết</a></p>
                            </div>
                            <div class="Acontent__gridTable__element__part DS__body">
                                <p>Chiêu mộ thành viên</p>
                                <p>...</p>
                                <p>Member1, Member2, Member 3, ... </p>
                                <p>Đang diễn ra</p>
                                <p><a href="">Link chi tiết</a></p>
                            </div>
                        </div>

                        
                        <div class = "Acontent__gridTable__element" id="body-center3__UPDATELATER">
                            <p>UPDATE LATER...</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    </div>
</div>
<style>
    #page3{
        color: white !important;
        background-color: rgb(60, 60, 60);
        transition: opacity 0.3s ease-out;
        transition: background-color 0.6s ease-out;
        transition: color 0.7s ease-out;
    }
</style>  

<!-- BLOCK CẬP NHẬT-->
<div class = "set-scrollbar--x" id = "updateInfoDiv__hideBlock">
    <div id="updateInfoDiv__infomation__hideBlock">
        <form class = "updateInfoDiv__hideBlock__part" id="updateInfoDiv__hideBlock__pic" action="" method="">
            <div class="updateInfoDiv__hideBlock__title">
                <h3>Cập nhật ảnh đại diện</h3>
                <div id="updateInfoDiv__hideBlock__title--exit" onclick = show_updateInfoDiv()><i class="fa-solid fa-xmark"></i></div>
            </div>
            <label class = "updateInfoDiv__hideBlock__part__input--file" for="c-backgroundPic">  <!-- c = change -->
                <span>Background</span>
                <input class = "updateInfoInput" type="file" accept="image/png, image/jpeg" id = "c-backgroundPic" name = "n-backgroundPic"> <!-- n = new -->
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--file" for="c-avatar">  <!-- c = change -->
                <span>Avatar</span>
                <input class = "updateInfoInput" type="file" accept="image/png, image/jpeg" id = "c-avatar" name = "n-avatar"> <!-- n = new -->
            </label>
            <div class = "updateInfoDiv__hideBlock__part" id="updateInfoDiv__hideBlock__footer">
                <button id="updateInfoDiv__hideBlock__footer--cancel" type="button" onclick = cancelUpdate(0)>ĐẶT LẠI</button>
                <button id="updateInfoDiv__hideBlock__footer--submit" type="submit">CẬP NHẬT</button>
            </div>
        </form>
        <form class = "updateInfoDiv__hideBlock__part" id="updateInfoDiv__hideBlock__information" action="" method="">
            <div class="updateInfoDiv__hideBlock__title">
                <h3>Cập nhật thông tin cơ bản</h3>
                <div id="updateInfoDiv__hideBlock__title--exit" onclick = show_updateInfoDiv()><i class="fa-solid fa-xmark"></i></div>
            </div>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-name">  <!-- c = change -->
                <span>Tên nhóm</span>
                <input class = "updateInfoInput" type="text" id = "c-name" name = "n-name"> <!-- n = new -->
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-members">
                <span>Số thành viên</span>
                <input class = "updateInfoInput" type="number" id = "c-members" name = "n-members">
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-teacher">
                <span>Chủ hội</span>
                <input class = "updateInfoInput" type="text" id = "c-teacher" name = "n-teacher">
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-monitor">
                <span>Hội phó</span>
                <input class = "updateInfoInput" type="text" id = "c-monitor" name = "n-monitor">
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-viceMonitor">
                <span>Lĩnh vực</span>
                <input class = "updateInfoInput" type="text" id = "c-viceMonitor" name = "n-viceMonitor">
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-viceMonitor">
                <span>Mục tiêu</span>
                <input class = "updateInfoInput" type="text" id = "c-viceMonitor" name = "n-viceMonitor">
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-viceMonitor">
                <span>Phạm vi</span>
                <input class = "updateInfoInput" type="text" id = "c-viceMonitor" name = "n-viceMonitor">
            </label>
            <div class="updateInfoDiv__hideBlock__title">
                <h3>Cập nhật thông tin liên hệ</h3>
            </div>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-email">
                <span>Email</span>
                <input class = "updateInfoInput" type="text" id = "c-email" name = "n-email">
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-facebook">
                <span>Facebook</span>
                <input class = "updateInfoInput" type="text" id = "c-facebook" name = "n-facebook">
            </label>
            <label class = "updateInfoDiv__hideBlock__part__input--text" for="c-teacherPhone">
                <span>SĐT</span>
                <input class = "updateInfoInput" type="text" id = "c-teacherPhone" name = "n-teacherPhone">
            </label>
            <div class = "updateInfoDiv__hideBlock__part" id="updateInfoDiv__hideBlock__footer">
                <button id="updateInfoDiv__hideBlock__footer--cancel" type="button" onclick = cancelUpdate(1)>ĐẶT LẠI</button>
                <button id="updateInfoDiv__hideBlock__footer--submit" type="submit">CẬP NHẬT</button>
            </div>
        </form>
    </div>
    <div class="sideBar paddingBottom" style="color: rgb(0, 0, 0)"></div>
</div>
<!-- BLOCK CẬP NHẬT-->