<!-- BODY BODY BODY -->
<!-- KHỞI TẠO KHUNG THÂN -->
<div class="under-header">
    <!-- KHỞI TẠO KHUNG BODY -->
    <div class = "body grid">
        <!-- KHUNG BODY -->
        <div class="body__content">
            <!-- TRÁI BODY -->
            <div class="body-left3 body-part">
                <div class="body-left3__block set-scrollbar--x">
                    <div class="body-left3__search-block">
                        <i class="fa-solid fa-magnifying-glass" id = "body-left3__search--icon"></i>
                        <input type="text" class="body-left3__search--part" id = "body-left3__search--input" placeholder = "Tìm kiếm">
                    </div>
                    <div class="body-left3__result-block">
                        <ul class="body-left3__result-block--list" style = "list-style: none; color: black; padding-left: 0;">
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                            <li class="body-left3__result-block__element">
                                <a href="" class="body-left3__result-block--link">Test_resultA00</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sideBar paddingBottom" style="color: black"><i class="fa-solid fa-circle-info"></i>Đã hết danh sách</div>
                </div>
            </div>
            <!-- GIỮA BODY -->
            <div class="body-center3 body-part">
                <!-- CÁC PHẦN TỬ CON -->
                <div class="body-center3__content" id="pictures-block">
                    <div id="pictures--background">
                        <img src = "pic/club_background.jpg"  alt = "background" id = "background">
                        <div id="pictures--avatar">
                            <img src = "pic/club_avatar.jpg" alt = "avatar" id = "avatar">
                            <i class="fa-regular fa-image" id = "addAvatar"></i>
                        </div>
                    </div>                   
                </div>
                <div class="body-center3__content">
                    <ul class = "body-center3__content--listblock p">
                        <h1 class = "body-center3__content--title contentBox__title">THÔNG TIN NHÓM</h1>
                        <p href = "" class="body-center3__content--p_element">TÊN: <span id = "club--name"></span></p>
                        <p href = "" class="body-center3__content--p_element">NGÀY THÀNH LẬP: <span id = "club--date"></span></p>
                        <p href = "" class="body-center3__content--p_element">SỐ THÀNH VIÊN: <span id = "club--members"></span></p>
                        <p href = "" class="body-center3__content--p_element">HỘI CHỦ: <span id = "club--monitor"></span></p>
                        <p href = "" class="body-center3__content--p_element">HỘI PHÓ: <span id = "club--viceMonitor"></span></p>
                    </ul>
                </div>
                <div class="body-center3__content">
                    <ul class = "body-center3__content--listblock p">
                        <h1 class = "body-center3__content--title contentBox__title">THÔNG TIN LIÊN HỆ</h1>
                        <p href = "" class="body-center3__content--p_element">EMAIL: <a href = "" id = "club--email" style = "color: rgb(70, 166, 201)"></a></p>
                        <p href = "" class="body-center3__content--p_element">FACEBOOK: <a href = "" id = "club--facebook" style = "color: rgb(70, 166, 201)"></a></p>
                        <p href = "" class="body-center3__content--p_element">SĐT: <span id = "club--phone"></span></p>
                    </ul>
                </div>
                <div class="body-center3__content">
                    <ul class = "body-center3__content--listblock p">
                        <h1 class = "body-center3__content--title contentBox__title">DANH SÁCH THÀNH VIÊN</h1>
                        <div class="body-center3__container">
                            <div class="body-center3__container__element">
                                <div class="body-center3__element--name body-center3__container__element--part container__element--heading">TÊN</div>
                                <div class="body-center3__element--gender body-center3__container__element--part container__element--heading">GIỚI TÍNH</div>
                                <div class="body-center3__element--date body-center3__container__element--part container__element--heading">NGÀY SINH</div>
                                <div class="body-center3__element--doanvien body-center3__container__element--part container__element--heading">ĐOÀN VIÊN</div>
                                <div class="body-center3__element--class body-center3__container__element--part container__element--heading">LỚP</div>
                                <div class="body-center3__element--position body-center3__container__element--part container__element--heading">CHỨC VỤ</div>
                                <div class="body-center3__element--phone body-center3__container__element--part container__element--heading">SĐT</div>
                                <div class="body-center3__element--email body-center3__container__element--part container__element--heading">EMAIL</div>
                            </div>
                            <div class="body-center3__container__element">
                                <div class="body-center3__element--name body-center3__container__element--part">Trần Bảo Toàn</div>
                                <div class="body-center3__element--gender body-center3__container__element--part">Nam</div>
                                <div class="body-center3__element--date body-center3__container__element--part">05/12/2006</div>
                                <div class="body-center3__element--doanvien body-center3__container__element--part">Có</div>
                                <div class="body-center3__element--class body-center3__container__element--part">12.05</div>
                                <div class="body-center3__element--position body-center3__container__element--part">Chủ hội</div>
                                <div class="body-center3__element--phone body-center3__container__element--part">0982938647</div>
                                <a class="body-center3__element--email body-center3__container__element--part" href = "">tranbaotoan@gmail.com</a>
                            </div>
                            <div class="body-center3__container__element">
                                <div class="body-center3__element--name body-center3__container__element--part">Nguyễn Hữu Tài</div>
                                <div class="body-center3__element--gender body-center3__container__element--part">Nam</div>
                                <div class="body-center3__element--date body-center3__container__element--part">22/03/2006</div>
                                <div class="body-center3__element--doanvien body-center3__container__element--part">Có</div>
                                <div class="body-center3__element--class body-center3__container__element--part">12.10</div>
                                <div class="body-center3__element--position body-center3__container__element--part">Hội phó</div>
                                <div class="body-center3__element--phone body-center3__container__element--part">0837485912</div>
                                <a class="body-center3__element--email body-center3__container__element--part" href = "">nguyentai206@gmail.com</a>
                            </div>
                            <div class="body-center3__container__element">
                                <div class="body-center3__element--name body-center3__container__element--part">Trần Ngọc Nhi</div>
                                <div class="body-center3__element--gender body-center3__container__element--part">Nữ</div>
                                <div class="body-center3__element--date body-center3__container__element--part">25/06/2006</div>
                                <div class="body-center3__element--doanvien body-center3__container__element--part">Có</div>
                                <div class="body-center3__element--class body-center3__container__element--part">12.03</div>
                                <div class="body-center3__element--position body-center3__container__element--part">Thư kí</div>
                                <div class="body-center3__element--phone body-center3__container__element--part">0827364512</div>
                                <a class="body-center3__element--email body-center3__container__element--part" href = "">ngocnhi12345@gmail.com</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>