<link rel="stylesheet" href="css/thu_vien/tai_lieu.css">
<script src="https://kit.fontawesome.com/0afaeea3b6.js" crossorigin="anonymous"></script>
<title>CẬP NHẬT THÔNG TIN</title>

<div id="documents" class="content__block">
    <div id="blockTitle">
        <h2 id="fieldName">LĨNH VỰC TIN HỌC</h2>
    </div>
    <div id="blockContent" class="set-scrollbar--x">
        <div class="Blockdocument">
            <div class="document__pic">
                <img src="pic/PDFicon.jpg" alt="ẢNH MÔ TẢ TÀI LIỆU" class="document__pic__pic">
            </div>
            <div class="document__des">
                <div class="document__des__title"></div>
                <div class="document__des__des">
                    <div class="description-left">
                        <h3 class="documentTitle">Hướng dẫn cài đặt Python trên Windows</h3>
                        <p class="documentDescription">Bài viết này hướng dẫn chi tiết cách cài đặt Python trên hệ
                            điều hành Windows, bao gồm cả việc tải xuống trình cài đặt, cấu hình môi trường và kiểm
                            tra phiên bản Python. Bài viết này hướng dẫn chi tiết cách cài đặt Python trên hệ điều
                            hành Windows, bao gồm cả việc tải xuống trình cài đặt, cấu hình môi trường và kiểm tra
                            phiên bản Python.ài viết này hướng dẫn chi tiết cách cài đặt Python trên hệ điều hành
                            Windows, bao gồm cả việc tải xuống trình cài đặt, cấu hình môi trường và kiểm tra phiên
                            bản Python.</p>
                    </div>
                    <div class="description-right">
                        <p class="documentDateCreated">Date created:<span>DD/MM/YYYY</span></p>
                        <p class="documentAuthor">Author:<span>Author Name Here</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Blockdocument">
            <div class="document__pic">
                <img src="pic/PDFicon.jpg" alt="ẢNH MÔ TẢ TÀI LIỆU" class="document__pic__pic">
            </div>
            <div class="document__des">
                <div class="document__des__title"></div>
                <div class="document__des__des">
                    <div class="description-left">
                        <h3 class="documentTitle">Giới thiệu về HTML và CSS</h3>
                        <p class="documentDescription">Bài viết này cung cấp cái nhìn tổng quan về HTML và CSS, hai
                            ngôn ngữ lập trình web cơ bản để tạo trang web và định dạng nội dung.</p>
                    </div>
                    <div class="description-right">
                        <p class="documentDateCreated">Date created:<span>DD/MM/YYYY</span></p>
                        <p class="documentAuthor">Author:<span>Author Name Here</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Blockdocument">
            <div class="document__pic">
                <img src="pic/PDFicon.jpg" alt="ẢNH MÔ TẢ TÀI LIỆU" class="document__pic__pic">
            </div>
            <div class="document__des">
                <div class="document__des__title"></div>
                <div class="document__des__des">
                    <div class="description-left">
                        <h3 class="documentTitle">Xây dựng trang web cơ bản với HTML và CSS</h3>
                        <p class="documentDescription">Bài viết hướng dẫn từng bước cách tạo trang web đơn giản bằng
                            HTML và CSS, bao gồm tạo bố cục trang, thêm nội dung và định dạng giao diện.</p>
                    </div>
                    <div class="description-right">
                        <p class="documentDateCreated">Date created:<span>DD/MM/YYYY</span></p>
                        <p class="documentAuthor">Author:<span>Author Name Here</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Blockdocument">
            <div class="document__pic">
                <img src="pic/PDFicon.jpg" alt="ẢNH MÔ TẢ TÀI LIỆU" class="document__pic__pic">
            </div>
            <div class="document__des">
                <div class="document__des__title"></div>
                <div class="document__des__des">
                    <div class="description-left">
                        <h3 class="documentTitle">Hệ điều hành là gì?</h3>
                        <p class="documentDescription">Hệ điều hành (Operating System - OS) là phần mềm quan trọng
                            nhất trên máy tính, đóng vai trò như "bộ não" điều khiển và quản lý mọi hoạt động của
                            các phần cứng và phần mềm khác. Hệ điều hành cung cấp giao diện người dùng để tương tác
                            với máy tính, đồng thời quản lý tài nguyên hệ thống như bộ nhớ, CPU, thiết bị ngoại
                            vi,...</p>
                    </div>
                    <div class="description-right">
                        <p class="documentDateCreated">Date created:<span>DD/MM/YYYY</span></p>
                        <p class="documentAuthor">Author:<span>Author Name Here</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Blockdocument">
            <div class="document__pic">
                <img src="pic/PDFicon.jpg" alt="ẢNH MÔ TẢ TÀI LIỆU" class="document__pic__pic">
            </div>
            <div class="document__des">
                <div class="document__des__title"></div>
                <div class="document__des__des">
                    <div class="description-left">
                        <h3 class="documentTitle">Lập trình là gì?</h3>
                        <p class="documentDescription">Lập trình là quá trình tạo ra các chương trình máy tính để
                            thực hiện các nhiệm vụ cụ thể. Lập trình viên sử dụng các ngôn ngữ lập trình để viết mã
                            lệnh, hướng dẫn máy tính thực hiện các thao tác theo mong muốn.</p>
                    </div>
                    <div class="description-right">
                        <p class="documentDateCreated">Date created:<span>DD/MM/YYYY</span></p>
                        <p class="documentAuthor">Author:<span>Author Name Here</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Blockdocument">
            <div class="document__pic">
                <img src="pic/PDFicon.jpg" alt="ẢNH MÔ TẢ TÀI LIỆU" class="document__pic__pic">
            </div>
            <div class="document__des">
                <div class="document__des__title"></div>
                <div class="document__des__des">
                    <div class="description-left">
                        <h3 class="documentTitle">Mạng máy tính là gì?</h3>
                        <p class="documentDescription">Mạng máy tính là tập hợp các thiết bị máy tính được kết nối
                            với nhau thông qua các phương tiện truyền thông như cáp mạng, wifi,... nhằm chia sẻ tài
                            nguyên và thông tin.</p>
                    </div>
                    <div class="description-right">
                        <p class="documentDateCreated">Date created:<span>DD/MM/YYYY</span></p>
                        <p class="documentAuthor">Author:<span>Author Name Here</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>