<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TOP CSS -->
    <link rel="stylesheet" href="css/base.css" />

    <!-- BELOW CSS -->
    <link rel="stylesheet" href="css/thong_tin_thanh_vien/body.css" />

    <!-- JAVASCRIPT -->
    <script src="js/create_header.js"></script>
    <script src="js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/0afaeea3b6.js"
      crossorigin="anonymous"
    ></script>
    <title>THÀNH VIÊN</title>
  </head>
  <body>
    <!-- BODY BODY BODY -->
    <!-- KHỞI TẠO KHUNG THÂN -->
    <div class="under-header">
      <!-- KHỞI TẠO KHUNG BODY -->
      <div class="body grid">
        <!-- KHUNG BODY -->
        <div class="body__content">
          <!-- TRÁI BODY -->
          <div class="body-left1 body-part">
            <div class="body-left1__block set-scrollbar--x">
              <div class="body-left1__search-block">
                <i
                  class="fa-solid fa-magnifying-glass"
                  id="body-left1__search--icon"
                ></i>
                <input
                  type="text"
                  class="body-left1__search--part"
                  id="body-left1__search--input"
                  placeholder="Tìm kiếm"
                />
              </div>
              <div class="body-left1__result-block">
                <ul
                  class="body-left1__result-block--list"
                  style="list-style: none; color: black; padding-left: 0;"
                >
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                  <li class="body-left1__result-block__element">
                    <a
                      href=""
                      class="body-left1__result-block--link"
                    >Test_resultA00</a>
                  </li>
                </ul>
              </div>
              <div class="sideBar paddingBottom" style="color: black"><i
                  class="fa-solid fa-circle-info"
                ></i>Đã hết danh sách</div>
            </div>
          </div>
          <!-- GIỮA BODY -->
          <div class="body-center1 body-part">
            <!-- CÁC PHẦN TỬ CON -->
            <div class="Acontent__table" id="pictures-block">
              <div id="pictures--background">
                <img
                  src="pic/user_background.jpg"
                  alt="background"
                  id="background"
                />
                <div id="pictures--avatar">
                  <img src="pic/user_avatar.jpg" alt="avatar" id="avatar" />
                  <i class="fa-regular fa-image" id="addAvatar"></i>
                </div>
              </div>
            </div>

            <!-- CHỈNH SỬA -->
            <div id="updateInfoDiv" class="set-scrollbar--y" style="margin: 2%">
              <div
                class="updateInfoDiv__element updateInfoDiv__pic"
                onclick="show_updateInfoDiv(0)"
              >
                <span><i class="fa-solid fa-image"></i>
                  Thay đổi ảnh đại diện</span>
              </div>
              <div
                class="updateInfoDiv__element updateInfoDiv__infomation"
                onclick="show_updateInfoDiv(1)"
              >
                <span><i class="fa-solid fa-pen"></i>
                  Cập nhật thông tin cá nhân</span>
              </div>
            </div>
            <!-- CHỈNH SỬA -->

            <div class="Acontent__table">
              <p class="Acontent__table__header">THÔNG TIN CÁ NHÂN</p>
              <div class="Acontent__table__contentText">
                <div class="Acontent__table__contentText__element">
                  <span class="Acontent__table__contentText__element__title">HỌ
                    VÀ TÊN</span>
                  <span class="Acontent__table__contentText__element__main">Trần
                    Ngọc Bảo</span>
                </div>
                <div class="Acontent__table__contentText__element">
                  <span
                    class="Acontent__table__contentText__element__title"
                  >GIỚI TÍNH</span>
                  <span
                    class="Acontent__table__contentText__element__main"
                  >Nam</span>
                </div>
                <div class="Acontent__table__contentText__element">
                  <span
                    class="Acontent__table__contentText__element__title"
                  >NGÀY SINH</span>
                  <span
                    class="Acontent__table__contentText__element__main"
                  >03/03/2003</span>
                </div>
                <div class="Acontent__table__contentText__element">
                  <span
                    class="Acontent__table__contentText__element__title"
                  >ĐOÀN VIÊN</span>
                  <span
                    class="Acontent__table__contentText__element__main"
                  >Có</span>
                </div>
                <div class="Acontent__table__contentText__element">
                  <span
                    class="Acontent__table__contentText__element__title"
                  >LỚP</span>
                  <span
                    class="Acontent__table__contentText__element__main"
                  >10.07</span>
                </div>
                <div class="Acontent__table__contentText__element">
                  <span
                    class="Acontent__table__contentText__element__title"
                  >CHỨC VỤ</span>
                  <span class="Acontent__table__contentText__element__main">Tổ
                    trưởng</span>
                </div>
                <div class="Acontent__table__contentText__element">
                  <span
                    class="Acontent__table__contentText__element__title"
                  >NHẬT KÍ</span>
                  <span
                    class="Acontent__table__contentText__element__main"
                  >Không</span>
                </div>
              </div>
            </div>

            <div class="Acontent__table">
              <p class="Acontent__table__header">THÔNG TIN LIÊN HỆ</p>
              <div class="Acontent__table__contentText">
                <div class="Acontent__table__contentText__element">
                  <span
                    class="Acontent__table__contentText__element__title"
                  >EMAIL</span>
                  <span
                    class="Acontent__table__contentText__element__main"
                  >BaoGay206@gmail.com</span>
                </div>
                <div class="Acontent__table__contentText__element">
                  <span
                    class="Acontent__table__contentText__element__title"
                  >SĐT</span>
                  <span
                    class="Acontent__table__contentText__element__main"
                  >0987654321</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      #page1{ color: white !important; background-color: rgb(60, 60, 60);
      transition: opacity 0.3s ease-out; transition: background-color 0.6s
      ease-out; transition: color 0.7s ease-out; }
    </style>
    <!-- FOOTER FOOTER FOOTER -->
    <!-- PHẦN CHÂN KHUNG -->
    {{!-- <iframe class="footer" src="html/footer.html" frameborder="0"></iframe> --}}

    <!-- BLOCK CẬP NHẬT-->
    <div class="set-scrollbar--x" id="updateInfoDiv__hideBlock">
      <div id="updateInfoDiv__infomation__hideBlock">
        <form
          class="updateInfoDiv__hideBlock__part"
          id="updateInfoDiv__hideBlock__pic"
          action=""
          method=""
        >
          <div class="updateInfoDiv__hideBlock__title">
            <h3>Cập nhật ảnh đại diện</h3>
            <div
              id="updateInfoDiv__hideBlock__title--exit"
              onclick="show_updateInfoDiv()"
            ><i class="fa-solid fa-xmark"></i></div>
          </div>
          <label
            class="updateInfoDiv__hideBlock__part__input--file"
            for="c-backgroundPic"
          >
            <!-- c = change -->
            <span>Background</span>
            <input
              class="updateInfoInput"
              type="file"
              accept="image/png, image/jpeg"
              id="c-backgroundPic"
              name="n-backgroundPic"
            />
            <!-- n = new -->
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--file"
            for="c-avatar"
          >
            <!-- c = change -->
            <span>Avata</span>
            <input
              class="updateInfoInput"
              type="file"
              accept="image/png, image/jpeg"
              id="c-avatar"
              name="n-avatar"
            />
            <!-- n = new -->
          </label>
          <div
            class="updateInfoDiv__hideBlock__part"
            id="updateInfoDiv__hideBlock__footer"
          >
            <button
              id="updateInfoDiv__hideBlock__footer--cancel"
              type="button"
              onclick="cancelUpdate(0)"
            >ĐẶT LẠI</button>
            <button
              id="updateInfoDiv__hideBlock__footer--submit"
              type="submit"
            >CẬP NHẬT</button>
          </div>
        </form>
        <form
          class="updateInfoDiv__hideBlock__part"
          id="updateInfoDiv__hideBlock__information"
          action=""
          method=""
        >
          <div class="updateInfoDiv__hideBlock__title">
            <h3>Cập nhật thông tin cơ bản</h3>
            <div
              id="updateInfoDiv__hideBlock__title--exit"
              onclick="show_updateInfoDiv()"
            ><i class="fa-solid fa-xmark"></i></div>
          </div>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-name"
          >
            <!-- c = change -->
            <span>Họ và tên</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-name"
              name="n-name"
            />
            <!-- n = new -->
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-gender"
          >
            <span>Giới tính</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-gender"
              name="n-gender"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--date"
            for="c-date"
          >
            <span>Ngày sinh</span>
            <input
              class="updateInfoInput"
              type="date"
              id="c-date"
              name="n-date"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--checkbox"
            for="c-doanvien"
          >
            <span>Đoàn viên</span>
            <input
              class="updateInfoInput"
              type="checkbox"
              id="c-doanvien"
              name="n-doanvien"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-class"
          >
            <span>Lớp</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-class"
              name="n-class"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-position"
          >
            <span>Chức vụ</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-position"
              name="n-position"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-diary"
          >
            <span>Nhật kí</span>
            <textarea
              class="updateInfoInput"
              id="c-diary"
              name="n-diary"
              maxlength="100"
              placeholder="Kích thước tối đa 100 kí tự"
            ></textarea>
          </label>
          <div class="updateInfoDiv__hideBlock__title">
            <h3>Cập nhật thông tin liên hệ</h3>
          </div>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-email"
          >
            <span>Email</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-email"
              name="n-email"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-facebook"
          >
            <span>Facebook</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-facebook"
              name="n-facebook"
            />
          </label>
          <label
            class="updateInfoDiv__hideBlock__part__input--text"
            for="c-phone"
          >
            <span>Số điện thoại</span>
            <input
              class="updateInfoInput"
              type="text"
              id="c-phone"
              name="n-phone"
            />
          </label>
          <div
            class="updateInfoDiv__hideBlock__part"
            id="updateInfoDiv__hideBlock__footer"
          >
            <button
              id="updateInfoDiv__hideBlock__footer--cancel"
              type="button"
              onclick="cancelUpdate(1)"
            >ĐẶT LẠI</button>
            <button
              id="updateInfoDiv__hideBlock__footer--submit"
              type="submit"
            >CẬP NHẬT</button>
          </div>
        </form>
      </div>
      <div class="sideBar paddingBottom" style="color: rgb(0, 0, 0)"></div>
    </div>
    <!-- BLOCK CẬP NHẬT-->
  </body>
</html>