<div class="under-header">
    <!-- KHỞI TẠO KHUNG BODY -->
    <!-- as ad as ad as ada -->
    <div class = "body grid">
        <!-- KHUNG BODY -->
        <div class="body__content" style = "width: 100%">
            <div class="body-left4 body--part">
                <iframe class = "set-scrollbar--x" id = "sidebar" src="html/thu_vien_sidebar.html" frameborder = "0"></iframe>
            </div>
            <div class="body-right4 body-part">    
                <div id = "file-box">
                    <iframe src="thu_vien_word/testFile.html" frameborder="0" id = "file-box--file"></iframe>
                </div> 
            </div>
        </div>
    </div>
</div>