<!-- BODY BODY BODY -->
<!-- KHỞI TẠO KHUNG THÂN -->
<div class="under-header">
    <!-- KHỞI TẠO KHUNG BODY -->
    <div class = "body grid">
        <!-- KHUNG BODY -->
        <div class="body__content">
            <div class="body-center4 body-part set-scrollbar--x">
                <!-- CÁC PHẦN TỬ CON -->
                <div class="body-center4__element" id = "subject--toan">
                    <h3>MÔN TOÁN</h3>
                    <ul class="body-center4__element--list">
                        <div class="body-center4__element--list--obj">
                            <a href="thu_vien_word/testFile.html" target = "_blank" class = "obj4 obj4__document set-scrollbar--y" id = "ma_tai_lieu">Tài liệu tổng ôn, đạo hàm, nguyên hàm, tích phân.</a>
                            <div class = "obj4 obj4__uploader set-scrollbar--y" id = "ma_giao_vien"><a href="">Nguyễn Văn A</a></div>
                        </div>
                        <div class="body-center4__element--list--obj">
                            <a href="" class = "obj4 obj4__document set-scrollbar--y" id = "ma_tai_lieu">Tổng hợp đề thi THPTQG</a>
                            <div class = "obj4 obj4__uploader set-scrollbar--y" id = "ma_giao_vien"><a href="">Trần Văn B</a></div>
                        </div>
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--van">
                    <h3>MÔN VĂN</h3>
                    <ul class="body-center4__element--list">
                        {{!-- <div class="body-center4__element--list--obj">
                            <a href="" class = "obj4 obj4__document set-scrollbar--y" id = "ma_tai_lieu">Tài liệu tổng ôn Văn cuối kì 2</a>
                            <div class = "obj4 obj4__uploader set-scrollbar--y" id = "ma_giao_vien"><a href="">Nguyễn Thị X</a></div>
                        </div> FORM FOR THIS LIST --}}
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--anh">
                    <h3>MÔN ANH</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--ly">
                    <h3>MÔN LÝ</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--hoa">
                    <h3>MÔN HÓA</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--sinh">
                    <h3>MÔN SINH</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--su">
                    <h3>MÔN SỬ</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--dia">
                    <h3>MÔN ĐỊA</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--gdcd">
                    <h3>MÔN GDCD</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--congnghe">
                    <h3>MÔN CÔNG NGHỆ</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--tinhoc">
                    <h3>MÔN TIN HỌC</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="body-center4__element" id = "subject--gdqp">
                    <h3>MÔN GDQP</h3>
                    <ul class="body-center4__element--list">
                    </ul>
                </div>
                <div class="sideBar paddingBottom" style = "color: rgb(37, 37, 37)"><i class="fa-solid fa-circle-info"></i>Đã hết danh sách</div>
            </div>
        </div>
    </div>
</div>