<!-- BODY BODY BODY -->
<!-- KHỞI TẠO KHUNG THÂN -->
<div class="under-header">
    <!-- KHỞI TẠO KHUNG BODY -->
    <div class = "body grid">
        <!-- KHUNG BODY -->
        <div class="body__content">
            <!-- TRÁI BODY -->
            <div class="body-left0 body-part body-sidebar set-scrollbar--x">
                <!-- CÁC PHẦN TỬ CON -->
                <div class="body-left0__element" id = "student_rank">
                    <h3>XẾP HẠNG HỌC SINH THEO ĐIỂM</h3>
                    <ul class="body-left0__element--list">
                        <a class="body-left0__element--list--obj" href="">PERSON 1</a>
                        <a class="body-left0__element--list--obj" href="">PERSON 2</a>
                        <a class="body-left0__element--list--obj" href="">PERSON 3</a>
                    </ul>
                </div>
                <div class="body-left0__element" id = "class_rank">
                    <h3>XẾP HẠNG LỚP THEO CHUYÊN CẦN</h3>
                    <ul class="body-left0__element--list">
                        <a class="body-left0__element--list--obj" href="">CLASS 1</a>
                        <a class="body-left0__element--list--obj" href="">CLASS 2</a>
                        <a class="body-left0__element--list--obj" href="">CLASS 3</a>
                    </ul>
                </div>
                <div class="body-left0__element" id = "student_rank">
                    <h3>XẾP HẠNG CLB THEO ĐỘ PHỔ BIẾN</h3>
                    <ul class="body-left0__element--list">
                        <a class="body-left0__element--list--obj" href="">CLUB 1</a>
                        <a class="body-left0__element--list--obj" href="">CLUB 2</a>
                        <a class="body-left0__element--list--obj" href="">CLUB 3</a>
                    </ul>
                </div>
                <div class="body-left0__element" id = "class_rank">
                    <h3>XẾP HẠNG HOẠT ĐỘNG THEO ĐỘ PHỔ BIẾN</h3>
                    <ul class="body-left0__element--list">
                        <a class="body-left0__element--list--obj" href="">ACT 1</a>
                        <a class="body-left0__element--list--obj" href="">ACT 2</a>
                        <a class="body-left0__element--list--obj" href="">ACT 3</a>
                    </ul>
                </div>
                <div class="sideBar paddingBottom"><i class="fa-solid fa-circle-info"></i>Đã hết danh sách</div>
            </div>
            <!-- GIỮA BODY -->
            <div class="body-center0 body-part">
                <!-- CÁC PHẦN TỬ CON -->
                <div class="body-center0__content">
                    <ul class = "body-center0__content--listblock a">
                        <h1 class = "body-center0__content--title contentBox__title">HOẠT ĐỘNG NỔI BẬT:</h1>
                        <a href = "" class="body-center0__content--a_element">CẢNH CÁO CÁC TRƯỜNG HỢP VI PHẠM</a>
                        <a href = "" class="body-center0__content--a_element">HIỆU TRƯỞNG THÔNG BÁO VỀ CÁC CUỘC THI</a>
                        <a href = "" class="body-center0__content--a_element">VẬN ĐỘNG THAM GIA PHONG TRÀO ĐOÀN THANH NIÊN</a>
                        <a href = "" class="body-center0__content--a_element">TRƯỜNG QUYẾT ĐỊNH KHEN THƯỞNG HỌC SINH CÓ THÀNH TÍCH XUẤT SẮC</a>
                        <a href = "" class="body-center0__content--a_element">LỚP 12.11 VÀ 12.10 CẠNH TRANH QUYẾT LIỆT</a>
                        <a href = "" class="body-center0__content--a_element">THI HỌC KÌ MỘT SẮP TỚI VÀ NHỮNG ĐIỀU CẦN LƯU Ý</a>
                    </ul>
                </div>
                <div class="body-center0__content">
                    <ul class = "body-center0__content--listblock a">
                        <h1 class = "body-center0__content--title contentBox__title">MỘT CHỦ ĐỀ BẤT KÌ:</h1>
                        <a href = "" class="body-center0__content--a_element">CHỦ ĐỀ 1</a>
                        <a href = "" class="body-center0__content--a_element">CHỦ ĐỀ 2</a>
                        <a href = "" class="body-center0__content--a_element">CHỦ ĐỀ 3</a>
                        <a href = "" class="body-center0__content--a_element">CHỦ ĐỀ 4</a>
                        <a href = "" class="body-center0__content--a_element">CHỦ ĐỀ 5</a>
                        <a href = "" class="body-center0__content--a_element">CHỦ ĐỀ 6</a>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>