<link rel="stylesheet" href="css/trang_chu/body.css"/>
<script src="js/trang_chu.js"></script>
<title>HUYNH VAN NGHE HIGH SCHOOL</title>
<!-- BODY BODY BODY -->
<!-- KHỞI TẠO KHUNG THÂN -->
<div class="under-header">
    <!-- KHỞI TẠO KHUNG BODY -->
    <div class = "body grid">
        <!-- KHUNG BODY -->
        <div class="body__content">
            <!-- TRÁI BODY -->
            <div class="body-left0 body-part Acontent__sidebar AcontentSidebar--left set-scrollbar--x">
                <!-- CÁC PHẦN TỬ CON -->

                <div class="Acontent__sidebar__element">
                    <p class="Acontent__sidebar__element__header">XẾP HẠNG HỌC SINH XUẤT SẮC</p>
                    <div class="Acontent__sidebar__element__content">
                        <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top1">
                            <i class="fa-solid fa-chess-queen" style="color: rgb(255, 204, 0)"></i>
                            Trần Văn Ơn
                        </a>
                        <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top2">
                            <i class="fa-solid fa-crown" style="color: rgb(228, 228, 228)"></i>
                            Nguyễn Thanh Trúc
                        </a>
                        <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top3">
                            <i class="fa-solid fa-chess-king" style = "color: rgb(255, 182, 113)"></i>
                            Lê Thanh Tào
                        </a>
                    </div>
                </div>

                <div class="Acontent__sidebar__element">
                    <p class="Acontent__sidebar__element__header">XẾP HẠNG LỚP HỌC XUẤT SẮC</p>
                    <div class="Acontent__sidebar__element__content">
                        <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top1">
                            <i class="fa-solid fa-chess-queen" style="color: rgb(255, 204, 0)"></i>
                            10.5
                        </a>
                        <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top2">
                            <i class="fa-solid fa-crown" style="color: rgb(228, 228, 228)"></i>
                            11.7
                        </a>
                        <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top3">
                            <i class="fa-solid fa-chess-king" style = "color: rgb(255, 182, 113)"></i>
                            12.9
                        </a>
                    </div>
                </div>

                <div class="Acontent__sidebar__element">
                    <p class="Acontent__sidebar__element__header">XẾP HẠNG NHÓM PHỔ BIẾN</p>
                    <div class="Acontent__sidebar__element__content">
                            <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top1">
                            <i class="fa-solid fa-chess-queen" style="color: rgb(255, 204, 0)"></i>
                            Tuổi Trẻ Huỳnh Văn Nghệ
                        </a>
                        <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top2">
                            <i class="fa-solid fa-crown" style="color: rgb(228, 228, 228)"></i>
                            Đam Mê Tin Học
                        </a>
                        <a href = "" class = "Acontent__sidebar__element__content__element body-left0__top3">
                            <i class="fa-solid fa-chess-king" style = "color: rgb(255, 182, 113)"></i>
                            Đội Tuyển Học Sinh Giỏi Cấp Trường
                        </a>
                    </div>
                </div>
        
                <div class="sideBar paddingBottom"><i class="fa-solid fa-circle-info"></i>Đã hết danh sách</div>
            </div>
            <!-- GIỮA BODY -->
            <div class="body-center0 body-part">
                <!-- CÁC PHẦN TỬ CON -->
                <div class="Acontent__table">
                    <p class="Acontent__table__header">HOẠT ĐỘNG NỔI BẬT<i class="fa-solid fa-repeat body0-Acontent__table__header__changeTypeBtn" style="margin-left: calc(var(--myfontsize)/3); font-size: 0.7em" onclick="changeTypeList(this)"><span style="font-size: 0.5em; margin-left: 5%;">FULL</span></i></p>
                    <div class="Acontent__table__contentList" id = "body0-Acontent__table__contentList--type0">
                        <div class="Acontent__table__contentList__element AcontentList--title">
                            <p class="Acontent__table__contentList__element__textPart">STT</p>
                            <p class="Acontent__table__contentList__element__textPart">TÊN HOẠT ĐỘNG</p>
                            <p class="Acontent__table__contentList__element__textPart">THỂ LOẠI</p>
                        </div>
                        <a href = "" class="Acontent__table__contentList__element AcontentList--element">
                            <p class="Acontent__table__contentList__element__textPart">0</p>
                            <p class="Acontent__table__contentList__element__textPart">PHÒNG CHỐNG TỆ NẠN XÃ HỘI</p>
                            <p class="Acontent__table__contentList__element__textPart">HỌC TẬP, XÃ HỘI, PHÁP LUẬT</p>
                        </a>

                        <a href = "" class="Acontent__table__contentList__element AcontentList--element">
                            <p class="Acontent__table__contentList__element__textPart">1</p>
                            <p class="Acontent__table__contentList__element__textPart">TỔ CHỨC HOẠT ĐỘNG HỌC TẬP TOÀN TRƯỜNG</p>
                            <p class="Acontent__table__contentList__element__textPart">HỌC TẬP</p>
                        </a>

                        <a href = "" class="Acontent__table__contentList__element AcontentList--element">
                            <p class="Acontent__table__contentList__element__textPart">2</p>
                            <p class="Acontent__table__contentList__element__textPart">DIỄN ĐÀN CÔNG NGHỆ</p>
                            <p class="Acontent__table__contentList__element__textPart">HỌC TẬP, Thảo Luận</p>
                        </a>
                    </div>

                    <div class="Acontent__table__contentList" id = "body0-Acontent__table__contentList--type1">
                        <div class="Acontent__table__contentList__element AcontentList--title">
                            <p class="Acontent__table__contentList__element__textPart">STT</p>
                            <p class="Acontent__table__contentList__element__textPart">HOẠT ĐỘNG</p>
                            <p class="Acontent__table__contentList__element__textPart">CHI TIẾT</p>
                        </div>
                        <a href = "" class="Acontent__table__contentList__element AcontentList--element">
                            <p class="Acontent__table__contentList__element__textPart">0</p>

                            <div class="Acontent__table__contentList__element__picPart">
                                <img class = "Acontent__table__contentList__element__picPart__pic" src="https://c8.alamy.com/comp/2F8K67E/no-alcohol-smoking-and-drugs-concept-icon-2F8K67E.jpg" alt="">
                                <p class="Acontent__table__contentList__element__picPart__title">PHÒNG CHỐNG TỆ NẠN XÃ HỘI</p>
                                <div class = "Acontent__table__contentList__element__picPart__description">
                                    <div class = "Acontent__table__contentList__element__picPart__description__element">
                                        <h3>Thể loại</h3>
                                        <p>Học Tập, Xã Hội, Pháp Luật</p>
                                    </div>
                                    <div class = "Acontent__table__contentList__element__picPart__description__element">
                                        <h3>Người phụ trách</h3>
                                        <p>Nguyễn Văn A</p>
                                    </div>
                                        
                                </div>
                            </div>

                            <p class = "Acontent__table__contentList__element__textPart">
                                Hoạt động được tổ chức bởi Đoàn thanh niên - Hội học sinh của trường, phối hợp với các ban ngành đoàn thể địa phương.<br><br>Vào buổi sáng, hoạt động bắt đầu bằng phần tuyên truyền. Các thầy cô giáo, các tình nguyện viên đã mang đến cho học sinh những bài giảng, talkshow, sân khấu hóa hấp dẫn, sinh động. Nội dung của các bài giảng, talkshow, sân khấu hóa đã giúp học sinh hiểu rõ về các tệ nạn xã hội, tác hại của chúng đối với bản thân, gia đình và xã hội.<br><br>Buổi chiều, hoạt động tiếp tục với phần vui chơi. Các em học sinh đã cùng nhau tham gia các trò chơi dân gian, trò chơi vận động,... tạo không khí vui tươi, phấn khởi. Các trò chơi đã giúp các em giải tỏa căng thẳng, mệt mỏi, đồng thời học hỏi thêm nhiều kỹ năng, kiến thức mới. <br><br>Kết thúc hoạt động, các em học sinh đã tham gia phần học tập. Các em đã thi tìm hiểu kiến thức, thi viết,... nhằm khuyến khích học sinh tìm hiểu, nghiên cứu về các tệ nạn xã hội. Kết quả của các phần thi đã được công bố, và các em đạt giải sẽ được nhận phần thưởng. Hoạt động vận động tuyên truyền vui chơi học tập phòng chống tệ nạn xã hội đã thu hút đông đảo học sinh tham gia. Hoạt động đã góp phần nâng cao nhận thức của học sinh về tác hại của các tệ nạn xã hội, đồng thời tạo sân chơi lành mạnh, bổ ích cho các em.
                            </p>
                        </a>

                        <a href = "" class="Acontent__table__contentList__element AcontentList--element">
                            <p class="Acontent__table__contentList__element__textPart">1</p>

                            <div class="Acontent__table__contentList__element__picPart">
                                <img class = "Acontent__table__contentList__element__picPart__pic" src="https://th.bing.com/th/id/R.6c538e3cd97420eabf9206ebf2f22b30?rik=6RqaWhR1XHOaHQ&pid=ImgRaw&r=0" alt="">
                                <p class="Acontent__table__contentList__element__picPart__title">TỔ CHỨC HỌC TẬP TOÀN TRƯỜNG</p>
                                <div class = "Acontent__table__contentList__element__picPart__description">
                                    <div class = "Acontent__table__contentList__element__picPart__description__element">
                                        <h3>Thể loại</h3>
                                        <p>Học Tập</p>
                                    </div>

                                    <div class = "Acontent__table__contentList__element__picPart__description__element">
                                        <h3>Người phụ trách</h3>
                                        <p>Trần Văn B</p>
                                    </div>
        
                                </div>
                            </div>

                            <p class="Acontent__table__contentList__element__textPart">
                                Buổi học tập được tổ chức với chủ đề "Học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh". Mục đích của buổi học tập là nhằm nâng cao nhận thức cho toàn thể cán bộ, giáo viên, học sinh về những giá trị cao đẹp của tư tưởng, đạo đức, phong cách Hồ Chí Minh, từ đó tiếp tục học tập, rèn luyện, phấn đấu trở thành người có ích cho xã hội.
                                <br><br>Buổi học tập được dẫn dắt bởi thầy giáo Nguyễn Văn A, Phó Hiệu trưởng nhà trường. Thầy giáo đã truyền tải một cách sinh động, hấp dẫn những nội dung cơ bản về tư tưởng, đạo đức, phong cách Hồ Chí Minh. Thầy giáo cũng chia sẻ những câu chuyện, giai thoại về Bác Hồ, qua đó giúp các thầy cô giáo và học sinh hiểu rõ hơn về tấm gương đạo đức sáng ngời của Bác.
                                <br><br>Buổi học tập diễn ra trong không khí nghiêm túc và đầy ý nghĩa. Các thầy cô giáo và học sinh đều chăm chú lắng nghe và ghi chép lại những nội dung quan trọng. Sau buổi học tập, tất cả đều cảm thấy được tiếp thêm sức mạnh, động lực để tiếp tục học tập và rèn luyện, trở thành người có ích cho xã hội.
                                <br><br>Có thể nói, buổi tổ chức học tập toàn trường đã góp phần quan trọng trong việc nâng cao nhận thức cho toàn thể cán bộ, giáo viên, học sinh về những giá trị cao đẹp của tư tưởng, đạo đức, phong cách Hồ Chí Minh. Đây là một hoạt động ý nghĩa, góp phần xây dựng nhà trường trở thành một tổ chức học tập, nơi mọi người đều được học tập và phát triển.
                            </p>
                        </a>

                        <a href = "" class="Acontent__table__contentList__element AcontentList--element">
                            <p class="Acontent__table__contentList__element__textPart">2</p>

                            <div class="Acontent__table__contentList__element__picPart">
                                <img class = "Acontent__table__contentList__element__picPart__pic" src="https://th.bing.com/th/id/R.03634d76b16a9be4b4326b7db8c739db?rik=y2kyfYzEtP0zsQ&pid=ImgRaw&r=0" alt="">
                                <p class="Acontent__table__contentList__element__picPart__title">DIỄN ĐÀN CÔNG NGHỆ</p>
                                <div class = "Acontent__table__contentList__element__picPart__description">
                                    <div class = "Acontent__table__contentList__element__picPart__description__element">
                                        <h3>Thể loại</h3>
                                        <p>Học Tập, Tư Vấn</p>
                                    </div>

                                    <div class = "Acontent__table__contentList__element__picPart__description__element">
                                        <h3>Người phụ trách</h3>
                                        <p>Lê Thành T</p>
                                    </div>
        
                                </div>
                            </div>

                            <p class="Acontent__table__contentList__element__textPart">
                                Diễn đàn được tổ chức vào ngày 20 tháng 1 năm 2024 tại Hội trường lớn của trường. Diễn đàn có chủ đề "Cuộc cách mạng công nghệ 4.0 và tương lai của ngành công nghệ thông tin".
                                <br><br>Diễn giả chính của diễn đàn là ông Nguyễn Văn Lĩnh, Giám đốc Công ty Công nghệ thông tin FPT. Ông Lĩnh đã chia sẻ những kiến thức và kinh nghiệm quý báu về cuộc cách mạng công nghệ 4.0, đặc biệt là trong lĩnh vực công nghệ thông tin. Ông cũng nhấn mạnh tầm quan trọng của việc trang bị kiến thức và kỹ năng công nghệ cho học sinh THPT trong thời đại 4.0.
                                <br><br>Diễn đàn thu hút sự tham gia của hơn 500 học sinh của trường THPT Huỳnh Văn Nghệ. Các học sinh đã được tham gia các buổi thảo luận, chia sẻ sôi nổi với ông Lĩnh. Các học sinh đã bày tỏ sự quan tâm và mong muốn được tìm hiểu thêm về lĩnh vực công nghệ thông tin.
                                <br><br>Diễn đàn đã thành công tốt đẹp và nhận được nhiều phản hồi tích cực từ các học sinh, giáo viên và nhà trường. Diễn đàn đã góp phần nâng cao nhận thức của học sinh về cuộc cách mạng công nghệ 4.0 và vai trò của công nghệ thông tin trong cuộc sống.                                </p>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<style>
    #page0{
        color: white !important;
        background-color: rgb(60, 60, 60);
        transition: opacity 0.3s ease-out;
        transition: background-color 0.6s ease-out;
        transition: color 0.7s ease-out;
    }
</style>