.body-center1{
    position: relative;
    left: 20%;
    top: 0;
    bottom: 0;
    width: 75%;
    min-height: max-content;

    margin-left: 3vw;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 1.5vw 1vw rgb(210, 210, 210);
}

/* SEARCH */
.body-left1__searchBlock{
    display: flex;
    justify-content: space-evenly;

    font-size: var(--myfontsize);
}

.body-left1-Acontent__sidebar__element__form{
    width: 60%;

    display: flex;

    font-size: 0.7em;

    padding: 1% 2%;

    background-color: rgb(240, 240, 240);
    border-radius: 1vw;
}

.body-left1-Acontent__sidebar__element__form i{
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.6em;
}

.body-left1-Acontent__sidebar__element__form input{
    border: 0;
    outline: 0;

    width: 85%;
    font-size: 0.6em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}

#body-left1__listYear{
    position: relative;
    width: 35%;

    display: flex;
    justify-content: center;

    border-radius: 0.5vw;
    margin-left: 1%;

    background-color: rgb(194, 194, 194);

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#body-left1__listYear:hover{
    cursor: pointer;

    transform: scale(1.05);
    background-color: rgb(37, 37, 37);
    color: white;
}

#body-left1__listYear:active{
    transform: scale(0.95);
}


#selectYear:hover{
    cursor: pointer;
    background-color: rgb(37, 37, 37);
}

#selectYear{
    border: 0;
    outline: 0;
    
    width: 70%;

    color: inherit;

    font-size: calc(var(--myfontsize)/2.5);

    background-color: transparent;

    text-align: center;
    -webkit-appearance: none;

}

.body-left1__sidebarBtn{
    font-size: 0.45em;
    text-align: center;
    border-radius: 0 0 0.5vw 0.5vw;

    margin-top: 2%;

    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.body-left1__sidebarBtn:hover{
    cursor: pointer;
    
    background-color: rgb(37, 37, 37);
    color: white;
    transform: scale(1.03);
}

.body-left1__sidebarBtn:active{
    transform: scale(0.8);
}

.body-left1__sidebarBtn i{
    transform: rotate(180deg);
}

#icon-selectYear{
    font-size: calc(var(--myfontsize)/2.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* LEFT CONTENT*/
.body-left1 .Acontent__sidebar__element__content{
    overflow: hidden;
    height: 0;
}

/* LEFT ACTION BUTTON */
.body-left1__sidebarBtn{
    font-size: 0.45em;
    text-align: center;
    border-radius: 0 0 0.5vw 0.5vw;

    margin-top: 2%;

    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.body-left1__sidebarBtn:hover{
    cursor: pointer;
    
    background-color: rgb(37, 37, 37);
    color: white;
    transform: scale(1.03);
}

.body-left1__sidebarBtn:active{
    transform: scale(0.8);
}

.body-left1__sidebarBtn i{
    transform: rotate(180deg);
}

/* BODY CENTER HEADER */
    #body-center1__header{
        position: relative;
        height: 20vw;

        display: flex;
        flex-direction: row;

        margin-top: 2%;

        background-image: linear-gradient(45deg, rgb(255, 227, 207), rgb(157, 133, 255));
    }

    /* LEFT */
    /* RIGHT */
        #body-center1__header__rightSide{
            position: relative;
            width: 60%;
            height: 100%;

            display: grid;
            grid-template-columns: 50% 50%;

            font-size: var(--myfontsize);

            padding: 1% 1%;

            background-color: white;
            border-radius: 0.5vw;
            box-shadow: 0vw 0vw 0.5vw 0vw rgb(158, 158, 158);
        } 

        .body-center1__header__rightSide__element{
            position: relative;
            height: 100%;

            display: flex;
            flex-direction: column;

            overflow: hidden;

            border-radius: 0.5vw;

            font-size: 0.5em;
            padding: 0 2%;

            border: 0.15vw solid gray;
        }

        .body-center1__header__rightSide__element + .body-center1__header__rightSide__element{
            margin-left: 2%;
        }

        .body-center1__header__rightSide__element__title{
            height: max-content;

            padding: 1.5% 0;

            text-align: center;

            border-bottom: 0.2vw solid gray;
        }

        .body-center1__header__rightSide__element__list{
            position: relative;
            height: max-content;

            list-style: none;
        }

        .body-center1__header__rightSide__element__list__element{
            background-color: rgb(240, 240, 240);
            padding: 1% 2%;

            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 2%;

            font-size: 0.8em;

            border-radius: 0.5vw;

            transition: transform 0.3s, background-color 0.3s, color 0.3s;
        }

        .body-center1__header__rightSide__element__list__element__title{
            width: 100%;
            font-size: 1.1em;
            font-weight: bold;

            border-bottom: 0.1vw solid rgb(37, 37, 37);
        }

        .body-center1__header__rightSide__element__list__element__text{
            width: 100%;
            font-size: 0.85em;

            margin-top: 2%;
        }

/* BODY TABLE */
    /* NAV BAR */
    .body-center1__bodyTable__nav{
        display: flex;
        font-size: 0.5em;
    }

    .body-center1__bodyTable__nav__element{
        background-color: rgb(240, 240, 240);
        padding: 0.5% 2%;

        text-wrap: nowrap;
        border-left: 0.15vw solid gray;

        transition: background-color 0.3s, color 0.3s, transform 0.3s;
    }

    .body-center1__bodyTable__nav__element + .body-center1__bodyTable__nav__element{
        margin-left: 1%;
    }

    .bc1_nav-normal:hover{
        cursor: pointer;
        background-color: rgb(37, 37, 37);
        color: white;
        transform: scale(1.05);
    }

    .bc1_nav-normal:active{
        transform: scale(0.95);
    }

    .bc1_nav-active{
        background-color: rgb(37, 37, 37);
        color: white;
    }

    /* BODY */
    .body-center1__bodyTable__body{
        width: 100%;
        height: max-content;

        display: flex;
        flex-direction: column;

        background-image:   linear-gradient(0deg, rgb(246, 254, 255), rgb(199, 234, 255));
    }

    /* DANH SACH */
        /* HOẠT ĐỘNG */
        #body-center1__DSHD .Acontent__gridTable__element__part{
            grid-template-columns: 10% 40% 15% 35%;
        }

        /* NHÓM */
        #body-center1__DSNhom{
            display: none;
        }

        #body-center1__DSNhom .Acontent__gridTable__element__part{
            grid-template-columns: 10% 40% 15% 35%;
        }

        /* TÀI LIỆU */
        #body-center1__DSTL{
            display: none;
        }

        #body-center1__DSTL .Acontent__gridTable__element__part{
            grid-template-columns: 10% 55% 35%;

            margin-top: 1%;
            border-radius: 0.5vw;
            border: 0.1vw solid gray;
        }

        #body-center1__DSTL .Acontent__gridTable__element p{
            border: 0;
        }

        #body-center1__DSTL .DS__head .body-center1__DSTL__STT{
            background-color: rgb(48, 48, 48);
            border-radius: 0.4vw 0 0 0.4vw;
        }

        #body-center1__DSTL .DS__head .body-center1__DSTL__name{
            background-color: rgb(79, 79, 79);
            border-radius: 0;
        }

        #body-center1__DSTL .DS__head .body-center1__DSTL__type{
            background-color: rgb(48, 48, 48);
            border-radius: 0 0.4vw 0.4vw 0;
        }

        #body-center1__DSTL .DS__body .body-center1__DSTL__STT{
            background-color: rgb(105, 178, 255);
            border-radius: 0.4vw 0 0 0.4vw;
        }

        #body-center1__DSTL .DS__body .body-center1__DSTL__name{
            background-color: rgb(212, 244, 255);
            border-radius: 0;
        }

        #body-center1__DSTL .DS__body .body-center1__DSTL__type{
            background-color: rgb(105, 178, 255);
            border-radius: 0 0.4vw 0.4vw 0;
        }
        
        /* UPDATE LATER */
        #body-center1__UPDATELATER{
            display: none;
            font-size: calc(var(--myfontsize)/2);
            color: rgb(0, 0, 0);
            background-color: white;
            margin-left: 1%;
        }